.alert {
  color: var(--alert-color);
  background-color: var(--alert-bg-color);
  border-radius: var(--alert-border-radius);
  padding: var(--alert-padding, 0.75rem);
  margin-top: 0;
  margin-bottom: var(--component-margin-bottom);
  background-image: linear-gradient(var(--lighten-800), var(--lighten-800));

  &:empty {
    display: none;
  }

  &:hover {
    background-image: linear-gradient(var(--lighten-600), var(--lighten-600));
  }

  & a {
    color: currentcolor;
    font-weight: var(--font-weight-bold);
  }

  & > :last-child {
    margin-bottom: 0;
  }

  &.isSecondary {
    color: var(--alert-color-secondary);
    background-color: var(--alert-bg-color-secondary);
  }

  &.isInfo {
    color: var(--alert-color-info);
    background-color: var(--alert-bg-color-info);
  }

  &.isSuccess {
    color: var(--alert-color-success);
    background-color: var(--alert-bg-color-success);
  }

  &.isWarning {
    color: var(--alert-color-warning);
    background-color: var(--alert-bg-color-warning);
  }

  &.isDanger {
    color: var(--alert-color-danger);
    background-color: var(--alert-bg-color-danger);
  }
}
