.alert {
  color: var(--alert-color);
  background-color: var(--alert-bg-color);
  border-radius: var(--alert-border-radius);
  padding: var(--alert-padding, 0.75rem);
  margin-top: 0;
  margin-bottom: var(--component-margin-bottom);
  background-image: linear-gradient(var(--lighten-more), var(--lighten-more));
  display: block;
}

.alert:empty {
  display: none;
}

.alert:hover {
  background-image: linear-gradient(var(--lighten-more), var(--lighten-more));
}

a.alert {
  color: currentcolor;
  font-weight: var(--font-weight-bold);
  display: inline-block;
}
