.badge {
  font-size: var(--badge-font-size);
  color: var(--badge-color);
  background-color: var(--badge-bg-color);
  border-radius: var(--badge-border-radius);
  padding: var(--gap-2) var(--gap-3);
  vertical-align: baseline;
  display: inline-block;
  transition: var(--badge-speed) all;

  &:empty {
    display: none;
  }
}

a.badge {
  &:hover {
    color: var(--badge-color);
    background-image: linear-gradient(
      var(--darken),
      var(--darken)
    );
    text-decoration: none;
  }

  &:focus {
    outline: none;
    box-shadow: var(--badge-focus);
  }
}
