.gradient-darken {
  background-image: linear-gradient(transparent, var(--darken));
}

.gradient-darken-200 {
  background-image: linear-gradient(transparent, var(--darken-200));
}

.gradient-darken-400 {
  background-image: linear-gradient(transparent, var(--darken-400));
}

.gradient-darken-600 {
  background-image: linear-gradient(transparent, var(--darken-600));
}

.gradient-darken-800 {
  background-image: linear-gradient(transparent, var(--darken-800));
}

.gradient-lighten {
  background-image: linear-gradient(var(--lighten), transparent);
}

.gradient-lighten-200 {
  background-image: linear-gradient(var(--lighten-200), transparent);
}

.gradient-lighten-400 {
  background-image: linear-gradient(var(--lighten-400), transparent);
}

.gradient-lighten-600 {
  background-image: linear-gradient(var(--lighten-600), transparent);
}

.gradient-lighten-800 {
  background-image: linear-gradient(var(--lighten-800), transparent);
}

.bg-blend-darken {
  background-image: linear-gradient(var(--lighten-800), transparent);
}

.bg-blend-multiply {
  background-blend-mode: multiply;
}

.bg-blend-overlay {
  background-blend-mode: overlay;
}

.bg-blend-darken {
  background-blend-mode: darken;
}

.bg-blend-screen {
  background-blend-mode: screen;
}

.bg-blend-soft {
  background-blend-mode: soft-light;
}
