.rad0 {
  border-radius: 0;
}

.rad1 {
  border-radius: 0.0625rem;
}

.rad2 {
  border-radius: 0.125rem;
}

.rad3 {
  border-radius: 0.25rem;
}

.rad4 {
  border-radius: 0.5rem;
}

.rad5 {
  border-radius: 0.75rem;
}

.rad100 {
  border-radius: 100%;
}

.radMax {
  border-radius: 9999px;
}

.bord1 {
  border: 0.0625rem solid;
}

.bord2 {
  border: 0.125rem solid;
}

.bordWid {
  border: var(--border-width, 0.5rem) solid;
}

.bordT1 {
  border-top: 0.0625rem solid;
}

.bordT2 {
  border-top: 0.125rem solid;
}

.bordTWid {
  border-top: var(--border-width, 0.5rem) solid;
}

.bordL1 {
  border-left: 0.0625rem solid;
}

.bordL2 {
  border-left: 0.125rem solid;
}

.bordLWid {
  border-left: var(--border-width, 0.5rem) solid;
}

.bordB1 {
  border-bottom: 0.0625rem solid;
}

.bordB2 {
  border-bottom: 0.125rem solid;
}

.bordBWid {
  border-bottom: var(--border-width, 0.5rem) solid;
}

.bordR1 {
  border-right: 0.0625rem solid;
}

.bordR2 {
  border-right: 0.125rem solid;
}

.bordRWid {
  border-right: var(--border-width, 0.5rem) solid;
}

.bordX1 {
  border-left: 0.0625rem solid;
  border-right: 0.0625rem solid;
}

.bordX2 {
  border-left: 0.125rem solid;
  border-right: 0.125rem solid;
}

.bordXWid {
  border-left: var(--border-width, 0.5rem) solid;
  border-right: var(--border-width, 0.5rem) solid;
}

.bordY1 {
  border-top: 0.0625rem solid;
  border-bottom: 0.0625rem solid;
}

.bordY2 {
  border-top: 0.125rem solid;
  border-bottom: 0.125rem solid;
}

.bordYWid {
  border-top: 0.25rem solid;
  border-bottom: var(--border-width, 0.5rem) solid;
}
