.rad0 {
  border-radius: 0;
}

.rad1 {
  border-radius: var(--gap-1);
}

.rad2 {
  border-radius: var(--gap-2);
}

.rad3 {
  border-radius: var(--gap-3);
}

.rad4 {
  border-radius: var(--gap-4);
}

.rad5 {
  border-radius: var(--gap-5);
}

.rad100 {
  border-radius: 100%;
}

.radMax {
  border-radius: 9999px;
}

.bord1 {
  border: var(--gap-1) solid;
}

.bord2 {
  border: var(--gap-2) solid;
}

.bordWid {
  border: var(--border-width, 0.5rem) solid;
}

.bordT1 {
  border-top: var(--gap-1) solid;
}

.bordT2 {
  border-top: var(--gap-2) solid;
}

.bordTWid {
  border-top: var(--border-width, 0.5rem) solid;
}

.bordL1 {
  border-left: var(--gap-1) solid;
}

.bordL2 {
  border-left: var(--gap-2) solid;
}

.bordLWid {
  border-left: var(--border-width, 0.5rem) solid;
}

.bordB1 {
  border-bottom: var(--gap-1) solid;
}

.bordB2 {
  border-bottom: var(--gap-2) solid;
}

.bordBWid {
  border-bottom: var(--border-width, 0.5rem) solid;
}

.bordR1 {
  border-right: var(--gap-1) solid;
}

.bordR2 {
  border-right: var(--gap-2) solid;
}

.bordRWid {
  border-right: var(--border-width, 0.5rem) solid;
}

.bordX1 {
  border-left: var(--gap-1) solid;
  border-right: var(--gap-1) solid;
}

.bordX2 {
  border-left: var(--gap-2) solid;
  border-right: var(--gap-2) solid;
}

.bordXWid {
  border-left: var(--border-width, 0.5rem) solid;
  border-right: var(--border-width, 0.5rem) solid;
}

.bordY1 {
  border-top: var(--gap-1) solid;
  border-bottom: var(--gap-1) solid;
}

.bordY2 {
  border-top: var(--gap-2) solid;
  border-bottom: var(--gap-2) solid;
}

.bordYWid {
  border-top: var(--gap-3) solid;
  border-bottom: var(--border-width, 0.5rem) solid;
}
