.radius-0 { border-radius: 0; }
.radius-1 { border-radius: var(--box-0); }
.radius-2 { border-radius: var(--box-00); }
.radius-3 { border-radius: var(--box-000); }
.radius-100 { border-radius: 100%; }
.radius-max { border-radius: 9999px; }
