/*! Buttons */

button,
.button {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: var(--button-bg-color);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: var(--gap-4) var(--gap-5);
  cursor: pointer;
  /* line-height: var(--line-height); */
  display: inline-block;
  transition: var(--button-speed) all;
  box-shadow: var(--component-box-shadow-outer);

  &:hover {
    color: var(--button-color);
    background-image: linear-gradient(
      var(--darken),
      var(--darken)
    );
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: linear-gradient(
      var(--lighten),
      var(--lighten)
    );
  }

  &:focus {
    outline: none;
  }

  &:disabled,
  &.disabled {
    opacity: 0.2;
    box-shadow: none;
    text-decoration: none;
    opacity: .5;
    cursor: not-allowed;
  }

  &.button-outline {
    border-color: var(--button-bg-color);
    background-color: transparent;
    color: var(--link-color);
    box-shadow: none;
  }

  &.button-outline:hover,
  &.button-link:focus {
    background-image: none;
  }

  &.button-block {
    width: 100% !important;
    display: block;
  }

  &.button-link {
    border-color: transparent;
    background-color: transparent;
    color: var(--link-color);
    text-decoration: var(--link-text-decoration);
    box-shadow: none;
  }

  &.button-link:hover,
  &.button-link:focus {
    border-color: transparent;
    background-image: none;
    color: var(--link-color-hover);
    text-decoration: var(--link-text-decoration-hover);
    box-shadow: none;
  }
}
