.chip {
  font-size: var(--chip-font-size);
  color: var(--chip-color);
  background-color: var(--chip-bg-color, var(--smoke));
  border-radius: var(--chip-border-radius);
  border: 2px solid var(--chip-border-color, var(--light));
  padding: var(--chip-padding);
  vertical-align: baseline;
  display: inline-block;
  transition: var(--chip-speed) all;
  line-height: calc((var(--chip-font-size) * var(--line-height)) - 2px);
  font-weight: var(--chip-weight);
}

.chip:empty {
  display: none;
}

a.chip:hover {
  color: var(--chip-color);
  background-image: linear-gradient(var(--darken), var(--darken));
  text-decoration: none;
  --chip-border-color: var(--chip-link-color);
}

a.chip:focus {
  outline: none;
  box-shadow: var(--chip-focus);
}
