.white { color: var(--white); }
.smoke { color: var(--whitesmoke); }
.lightgray,
.lightgey { color: var(--lightgray); }
.silver { color: var(--silver); }
.darkgray,
.darkgrey { color: var(--darkgray); }
.gray,
.grey { color: var(--gray); }
.black { color: var(--black); }

.navy {color: var(--navy); }
.blue {color: var(--blue); }
.aqua {color: var(--aqua); }
.teal {color: var(--teal); }
.olive {color: var(--olive); }
.green {color: var(--green); }
.lime {color: var(--lime); }
.yellow {color: var(--yellow); }
.orange {color: var(--orange); }
.red {color: var(--red); }
.maroon {color: var(--maroon); }
.fuchsia {color: var(--fuchsia); }
.purple {color: var(--purple); }

.bg-white { background-color: var(--white); }
.bg-smoke { background-color: var(--whitesmoke); }
.bg-light { background-color: var(--lightgray); }
.bg-silver { background-color: var(--silver); }
.bg-dark { background-color: var(--darkgray); }
.bg-gray,
.bg-grey { background-color: var(--gray); }
.bg-black { background-color: var(--black); }

.bg-navy {background-color: var(--navy); }
.bg-blue {background-color: var(--blue); }
.bg-aqua {background-color: var(--aqua); }
.bg-teal {background-color: var(--teal); }
.bg-olive {background-color: var(--olive); }
.bg-green {background-color: var(--green); }
.bg-lime {background-color: var(--lime); }
.bg-yellow {background-color: var(--yellow); }
.bg-orange {background-color: var(--orange); }
.bg-red {background-color: var(--red); }
.bg-maroon {background-color: var(--maroon); }
.bg-fuchsia {background-color: var(--fuchsia); }
.bg-purple {background-color: var(--purple); }

.border-white { border-color: var(--white); }
.border-smoke { border-color: var(--whitesmoke); }
.border-light { border-color: var(--lightgray); }
.border-silver { border-color: var(--silver); }
.border-dark { border-color: var(--darkgray); }
.border-gray,
.border-grey { border-color: var(--gray); }
.border-black { border-color: var(--black); }

.border-navy {border-color: var(--navy); }
.border-blue {border-color: var(--blue); }
.border-aqua {border-color: var(--aqua); }
.border-teal {border-color: var(--teal); }
.border-olive {border-color: var(--olive); }
.border-green {border-color: var(--green); }
.border-lime {border-color: var(--lime); }
.border-yellow {border-color: var(--yellow); }
.border-orange {border-color: var(--orange); }
.border-red {border-color: var(--red); }
.border-maroon {border-color: var(--maroon); }
.border-fuchsia {border-color: var(--fuchsia); }
.border-purple {border-color: var(--purple); }
