.cols {
  max-width: var(--columns-width);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.cols-flush > .col, .cols-flush > [class^='col-'] {
    padding: 0;
}

.col {
  flex: 1;
}

.col,
[class*='col-'] {
  padding: 0 calc(var(--column-gutter) / 2);
}

.col-1 {
  flex: 0 0 calc(100% / (12/1));
  max-width: calc(100% / (12/1));
}

.col-2 {
  flex: 0 0 calc(100% / (12/2));
  max-width: calc(100% / (12/2));
}

.col-3 {
  flex: 0 0 calc(100% / (12/3));
  max-width: calc(100% / (12/3));
}

.col-4 {
  flex: 0 0 calc(100% / (12/4));
  max-width: calc(100% / (12/4));
}

.col-5 {
  flex: 0 0 calc(100% / (12/5));
  max-width: calc(100% / (12/5));
}

.col-6 {
  flex: 0 0 calc(100% / (12/6));
  max-width: calc(100% / (12/6));
}

.col-7 {
  flex: 0 0 calc(100% / (12/7));
  max-width: calc(100% / (12/7));
}

.col-8 {
  flex: 0 0 calc(100% / (12/8));
  max-width: calc(100% / (12/8));
}

.col-9 {
  flex: 0 0 calc(100% / (12/9));
  max-width: calc(100% / (12/9));
}

.col-10 {
  flex: 0 0 calc(100% / (12/10));
  max-width: calc(100% / (12/10));
}

.col-11 {
  flex: 0 0 calc(100% / (12/11));
  max-width: calc(100% / (12/11));
}

.col-12 {
  flex: 0 0 calc(100% / (12/12));
  max-width: calc(100% / (12/12));
}

.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-9 { order: 9; }
.order-10 { order: 10; }
.order-11 { order: 11; }
.order-12 { order: 12; }

.offset-1 { margin-left: calc(100% / (12/1)); }
.offset-2 { margin-left: calc(100% / (12/2)); }
.offset-3 { margin-left: calc(100% / (12/3)); }
.offset-4 { margin-left: calc(100% / (12/4)); }
.offset-5 { margin-left: calc(100% / (12/5)); }
.offset-6 { margin-left: calc(100% / (12/6)); }
.offset-7 { margin-left: calc(100% / (12/7)); }
.offset-8 { margin-left: calc(100% / (12/8)); }
.offset-9 { margin-left: calc(100% / (12/9)); }
.offset-10 { margin-left: calc(100% / (12/10)); }
.offset-11 { margin-left: calc(100% / (12/11)); }

[class*='col-count-'] { column-gap: var(--column-gap); }
.col-count-2 { column-count: 2; }
.col-count-3 { column-count: 3; }
.col-count-4 { column-count: 4; }
.col-count-5 { column-count: 5; }

@media screen and (--breakpoint) {
  .container {
      width: 100%;
  }

  .hide {
    display: none !important
  }

  .col,
  [class*='col-'] {
      flex: 0 1 100%;
      max-width: 100%;
  }

  [class*='offset-'] {
    margin-left: auto;
  }
}

@custom-media --breakpoint (max-width: 52rem);
