.ht-0 {
  height: 0;
}

.ht-1 {
  height: var(--space-1);
}

.ht-2 {
  height: var(--space-2);
}

.ht-3 {
  height: var(--space-3);
}

.ht-4 {
  height: var(--space-4);
}

.ht-5 {
  height: var(--space-5);
}

.ht-6 {
  height: var(--space-6);
}

.ht-7 {
  height: var(--space-7);
}

.ht-8 {
  height: var(--space-8);
}

.ht-9 {
  height: var(--space-9);
}

.ht-25 {
  height: 25%;
}

.ht-33 {
  height: calc(100% / 3);
}

.ht-50 {
  height: 50%;
}

.ht-66 {
  height: calc((100% / 3) * 2);
}

.ht-75 {
  height: 75%;
}

.ht-100 {
  height: 100%;
}

.minvh-25 {
  min-height: 25vh;
}

.minvh-33 {
  min-height: calc(100 / 3)vh;
}

.minvh-50 {
  min-height: 50vh;
}

.minvh-66 {
  min-height: calc((100 / 3) * 2)vh;
}

.minvh-75 {
  min-height: 75vh;
}

.minvh-100 {
  min-height: 100vh;
}

.wid-0 {
  width: 0;
}

.wid-1 {
  width: var(--space-1);
}

.wid-2 {
  width: var(--space-2);
}

.wid-3 {
  width: var(--space-3);
}

.wid-4 {
  width: var(--space-4);
}

.wid-5 {
  width: var(--space-5);
}

.wid-6 {
  width: var(--space-6);
}

.wid-7 {
  width: var(--space-7);
}

.wid-8 {
  width: var(--space-8);
}

.wid-9 {
  width: var(--space-9);
}

.wid-25 {
  width: 25%;
}

.wid-33 {
  width: calc(100% / 3);
}

.wid-50 {
  width: 50%;
}

.wid-66 {
  width: calc((100% / 3) * 2);
}

.wid-75 {
  width: 75%;
}

.wid-100 {
  width: 100%;
}

.minvw-25 {
  min-width: 25vw;
}

.minvw-33 {
  min-width: calc(100 / 3)vw;
}

.minvw-50 {
  min-width: 50vw;
}

.minvw-66 {
  min-width: calc((100 / 3) * 2)vw;
}

.minvw-75 {
  min-width: 75vw;
}

.minvw-100 {
  min-width: 100vw;
}
