.ht0 {
  height: 0;
}

.ht1 {
  height: var(--gap-1, var(--space-1));
}

.ht2 {
  height: var(--gap-2, var(--space-2));
}

.ht3 {
  height: var(--gap-3, var(--space-3));
}

.ht4 {
  height: var(--gap-4, var(--space-4));
}

.ht5 {
  height: var(--gap-5, var(--space-5));
}

.ht6 {
  height: var(--gap-6, var(--space-6));
}

.ht7 {
  height: var(--gap-7, var(--space-7));
}

.ht8 {
  height: var(--gap-8, var(--space-8));
}

.ht9 {
  height: var(--gap-9, var(--space-9));
}

.ht25 {
  height: 25%;
}

.ht33 {
  height: calc(100% / 3);
}

.ht50 {
  height: 50%;
}

.ht66 {
  height: calc((100% / 3) * 2);
}

.ht75 {
  height: 75%;
}

.ht100 {
  height: 100%;
}

.viewHt25 {
  min-height: 25vh;
}

.viewHt33 {
  min-height: calc(100 / 3) vh;
}

.viewHt50 {
  min-height: 50vh;
}

.viewHt66 {
  min-height: calc((100 / 3) * 2) vh;
}

.viewHt75 {
  min-height: 75vh;
}

.viewHt100 {
  min-height: 100vh;
}

.wid0 {
  width: 0;
}

.wid1 {
  width: var(--gap-1, var(--space-1));
}

.wid2 {
  width: var(--gap-2, var(--space-2));
}

.wid3 {
  width: var(--gap-3, var(--space-3));
}

.wid4 {
  width: var(--gap-4, var(--space-4));
}

.wid5 {
  width: var(--gap-5, var(--space-5));
}

.wid6 {
  width: var(--gap-6, var(--space-6));
}

.wid7 {
  width: var(--gap-7, var(--space-7));
}

.wid8 {
  width: var(--gap-8, var(--space-8));
}

.wid9 {
  width: var(--gap-9, var(--space-9));
}

.wid25 {
  width: 25%;
}

.wid33 {
  width: calc(100% / 3);
}

.wid50 {
  width: 50%;
}

.wid66 {
  width: calc((100% / 3) * 2);
}

.wid75 {
  width: 75%;
}

.wid100 {
  width: 100%;
}

.viewWid25 {
  width: 25vw;
}

.viewWid33 {
  width: calc(100 / 3) vw;
}

.viewWid50 {
  width: 50vw;
}

.viewWid66 {
  width: calc((100 / 3) * 2) vw;
}

.viewWid75 {
  width: 75vw;
}

.viewWid100 {
  width: 100vw;
}

.maxWid0 {
  max-width: 0;
}

.maxWid1 {
  max-width: var(--gap-1, var(--space-1));
}

.maxWid2 {
  max-width: var(--gap-2, var(--space-2));
}

.maxWid3 {
  max-width: var(--gap-3, var(--space-3));
}

.maxWid4 {
  max-width: var(--gap-4, var(--space-4));
}

.maxWid5 {
  max-width: var(--gap-5, var(--space-5));
}

.maxWid6 {
  max-width: var(--gap-6, var(--space-6));
}

.maxWid7 {
  max-width: var(--gap-7, var(--space-7));
}

.maxWid8 {
  max-width: var(--gap-8, var(--space-8));
}

.maxWid9 {
  max-width: var(--gap-9, var(--space-9));
}

.maxWid25 {
  max-width: 25%;
}

.maxWid33 {
  max-width: calc(100% / 3);
}

.maxWid50 {
  max-width: 50%;
}

.maxWid66 {
  max-width: calc((100% / 3) * 2);
}

.maxWid75 {
  max-width: 75%;
}

.maxWid100 {
  max-width: 100%;
}
