.dropdown {
  display: inline-block;
  background: var(--dropdown-bg-color);
  border-radius: var(--dropdown-border-radius);
  border-color: var(--dropdown-border-color);
  border-width: var(--dropdown-border-width);
  border-style: solid;
}

.dropdown li > a, .dropdown li :not(a) {
  display: block;
  padding: var(--dropdown-padding);
  border-bottom-color: var(--dropdown-border-color);
  border-bottom-width: var(--dropdown-border-width);
  border-bottom-style: solid;
}

.dropdown li a:hover {
  text-decoration: none;
  background-image: linear-gradient(var(--darken), var(--darken));
}

.dropdown li:last-of-type a {
  border-bottom: 0;
}
