.flex {
  display: flex;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexWrapReverse {
  flex-wrap: wrap-reverse;
}

.flexReverse {
  flex-direction: row-reverse;
}

.flexReverse.flexCol {
  flex-direction: column-reverse;
}

.flexCol {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}

.flexCenter {
  align-items: center;
  justify-content: center;
}

.flexYCenter {
  align-items: center;
}

.flexXCenter {
  justify-content: center;
}

.flexAround {
  justify-content: space-around;
}

.flexBetween {
  justify-content: space-between;
}

.flexRight {
  justify-content: flex-end;
}

.flexBaseline {
  align-items: baseline;
}

.flexEnd {
  align-items: flex-end;
}

.flexStart {
  align-items: flex-start;
}

.grow1,
.grow2,
.grow3,
.grow4,
.grow5,
.grow6 {
  flex-basis: 0;
}

.grow1 {
  flex-grow: 1;
}

.grow2 {
  flex-grow: 2;
}

.grow3 {
  flex-grow: 3;
}

.grow4 {
  flex-grow: 4;
}

.grow5 {
  flex-grow: 5;
}

.grow6 {
  flex-grow: 6;
}

.grow7 {
  flex-grow: 7;
}

.grow8 {
  flex-grow: 8;
}

.grow9 {
  flex-grow: 9;
}

.selfCenter {
  align-self: center;
}

.selfStart {
  align-self: flex-start;
}

.selfEnd {
  align-self: flex-end;
}

.selfBaseline {
  align-self: baseline;
}
