.flex {
  display: flex;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexWrapReverse {
  flex-wrap: wrap-reverse;
}

.flexReverse {
  flex-direction: row-reverse;
}

.flexReverse.flexCol {
  flex-direction: column-reverse;
}

.flexCol {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}

.flexCenter {
  align-items: center;
  justify-content: center;
}

.flexYCenter {
  align-items: center;
}

.flexXCenter {
  justify-content: center;
}

.flexAround {
  justify-content: space-around;
}

.flexBetween {
  justify-content: space-between;
}

.flexRight {
  justify-content: flex-end;
}

.flexBaseline {
  align-items: baseline;
}

.flexEnd {
  align-items: flex-end;
}

.flexStart {
  align-items: flex-start;
}

.flexMar1:not(.flexCol):not(.flexReverse) > *:not(:last-child) {
  margin-right: var(--space-1);
}

.flexMar2:not(.flexCol):not(.flexReverse) > *:not(:last-child) {
  margin-right: var(--space-2);
}

.flexMar3:not(.flexCol):not(.flexReverse) > *:not(:last-child) {
  margin-right: var(--space-3);
}

.flexMar4:not(.flexCol):not(.flexReverse) > *:not(:last-child) {
  margin-right: var(--space-4);
}

.flexMar5:not(.flexCol):not(.flexReverse) > *:not(:last-child) {
  margin-right: var(--space-5);
}

.flexMar1.flexReverse:not(.flexCol) > *:not(:last-child) {
  margin-left: var(--space-1);
}

.flexMar2.flexReverse:not(.flexCol) > *:not(:last-child) {
  margin-left: var(--space-2);
}

.flexMar3.flexReverse:not(.flexCol) > *:not(:last-child) {
  margin-left: var(--space-3);
}

.flexMar4.flexReverse:not(.flexCol) > *:not(:last-child) {
  margin-left: var(--space-4);
}

.flexMar5.flexReverse:not(.flexCol) > *:not(:last-child) {
  margin-left: var(--space-5);
}

.flexMar1.flexCol:not(.flexReverse) > *:not(:last-child) {
  margin-bottom: var(--space-1);
}

.flexMar2.flexCol:not(.flexReverse) > *:not(:last-child) {
  margin-bottom: var(--space-2);
}

.flexMar3.flexCol:not(.flexReverse) > *:not(:last-child) {
  margin-bottom: var(--space-3);
}

.flexMar4.flexCol:not(.flexReverse) > *:not(:last-child) {
  margin-bottom: var(--space-4);
}

.flexMar5.flexCol:not(.flexReverse) > *:not(:last-child) {
  margin-bottom: var(--space-5);
}

.flexMar1.flexCol.flexReverse > *:not(:first-child) {
  margin-bottom: var(--space-1);
}

.flexMar2.flexCol.flexReverse > *:not(:first-child) {
  margin-bottom: var(--space-2);
}

.flexMar3.flexCol.flexReverse > *:not(:first-child) {
  margin-bottom: var(--space-3);
}

.flexMar4.flexCol.flexReverse > *:not(:first-child) {
  margin-bottom: var(--space-4);
}

.flexMar5.flexCol.flexReverse > *:not(:first-child) {
  margin-bottom: var(--space-5);
}

.grow1,
.grow2,
.grow3,
.grow4,
.grow5,
.grow6 {
  flex-basis: 0;
}

.grow1 {
  flex-grow: 1;
}

.grow2 {
  flex-grow: 2;
}

.grow3 {
  flex-grow: 3;
}

.grow4 {
  flex-grow: 4;
}

.grow5 {
  flex-grow: 5;
}

.grow6 {
  flex-grow: 6;
}

.selfCenter {
  align-self: center;
}

.selfStart {
  align-self: flex-start;
}

.selfEnd {
  align-self: flex-end;
}

.selfBaseline {
  align-self: baseline;
}
