.grid-gap-0 { grid-gap: 0; }
.grid-gap-1 { grid-gap: var(--gap-1); }
.grid-gap-2 { grid-gap: var(--gap-2); }
.grid-gap-3 { grid-gap: var(--gap-3); }
.grid-gap-4 { grid-gap: var(--gap-4); }
.grid-gap-5 { grid-gap: var(--gap-5); }

.grid-gap-x-0 { grid-row-gap: 0; }
.grid-gap-x-1 { grid-row-gap: var(--gap-1); }
.grid-gap-x-2 { grid-row-gap: var(--gap-2); }
.grid-gap-x-3 { grid-row-gap: var(--gap-3); }
.grid-gap-x-4 { grid-row-gap: var(--gap-4); }
.grid-gap-x-5 { grid-row-gap: var(--gap-5); }

.grid-gap-y-0 { grid-column-gap: 0; }
.grid-gap-y-1 { grid-column-gap: var(--gap-1); }
.grid-gap-y-2 { grid-column-gap: var(--gap-2); }
.grid-gap-y-3 { grid-column-gap: var(--gap-3); }
.grid-gap-y-4 { grid-column-gap: var(--gap-4); }
.grid-gap-y-5 { grid-column-gap: var(--gap-5); }

.grid-space-0 { grid-gap: 0; }
.grid-space-1 { grid-gap: var(--space-1); }
.grid-space-2 { grid-gap: var(--space-2); }
.grid-space-3 { grid-gap: var(--space-3); }
.grid-space-4 { grid-gap: var(--space-4); }
.grid-space-5 { grid-gap: var(--space-5); }

.grid-space-x-0 { grid-row-gap: 0; }
.grid-space-x-1 { grid-row-gap: var(--space-1); }
.grid-space-x-2 { grid-row-gap: var(--space-2); }
.grid-space-x-3 { grid-row-gap: var(--space-3); }
.grid-space-x-4 { grid-row-gap: var(--space-4); }
.grid-space-x-5 { grid-row-gap: var(--space-5); }

.grid-space-y-0 { grid-column-gap: 0; }
.grid-space-y-1 { grid-column-gap: var(--space-1); }
.grid-space-y-2 { grid-column-gap: var(--space-2); }
.grid-space-y-3 { grid-column-gap: var(--space-3); }
.grid-space-y-4 { grid-column-gap: var(--space-4); }
.grid-space-y-5 { grid-column-gap: var(--space-5); }

.grid-cols-dense { grid-auto-flow: row dense; }
.grid-cols,
[class*='grid-cols-'] { grid-auto-flow: row; }
.grid-cols-2 { grid-template-columns: repeat(2, 1fr); }
.grid-cols-3 { grid-template-columns: repeat(3, 1fr); }
.grid-cols-4 { grid-template-columns: repeat(4, 1fr); }
.grid-cols-5 { grid-template-columns: repeat(5, 1fr); }
.grid-cols-6 { grid-template-columns: repeat(6, 1fr); }
.grid-cols-7 { grid-template-columns: repeat(7, 1fr); }
.grid-cols-8 { grid-template-columns: repeat(8, 1fr); }
.grid-cols { grid-template-columns: var(--grid-columns); }

.grid-rows-dense { grid-auto-flow: column dense; }
.grid-rows,
[class*='grid-rows-'] { grid-auto-flow: column; }
.grid-rows-2 { grid-template-rows: repeat(2, 1fr); }
.grid-rows-3 { grid-template-rows: repeat(3, 1fr); }
.grid-rows-4 { grid-template-rows: repeat(4, 1fr); }
.grid-rows-5 { grid-template-rows: repeat(5, 1fr); }
.grid-rows-6 { grid-template-rows: repeat(6, 1fr); }
.grid-rows-7 { grid-template-rows: repeat(7, 1fr); }
.grid-rows-8 { grid-template-rows: repeat(8, 1fr); }
.grid-rows { grid-template-rows: var(--grid-rows); }

.grid > * {
  grid-column: var(--grid-column);
  grid-row: var(--grid-row);
}

.grid-row-span-2 {grid-row: span 2 ;}
.grid-row-span-3 {grid-row: span 3 ;}
.grid-row-span-4 {grid-row: span 4 ;}
.grid-row-span-5 {grid-row: span 5 ;}
.grid-row-span-6 {grid-row: span 6 ;}
.grid-row-span-7 {grid-row: span 7 ;}
.grid-row-span {grid-row: var(--grid-row) ; }

.grid-col-span-2 {grid-column: span 2 ;}
.grid-col-span-3 {grid-column: span 3 ;}
.grid-col-span-4 {grid-column: span 4 ;}
.grid-col-span-5 {grid-column: span 5 ;}
.grid-col-span-6 {grid-column: span 6 ;}
.grid-col-span-7 {grid-column: span 7 ;}
.grid-col-span {grid-column: var(--grid-column) ; }
