@import url("./fortune.css");
/* Requires PostCSS */

.red-50 {
  color: color(var(--red) l(90%));
}

.red-100 {
  color: color(var(--red) l(80%));
}

.red-200 {
  color: color(var(--red) l(60%));
}

.red-300 {
  color: color(var(--red) l(40%));
}

.red-400 {
  color: color(var(--red) l(20%));
}

.red-600 {
  color: color(var(--red) b(10%));
}

.red-700 {
  color: color(var(--red) b(20%));
}

.red-800 {
  color: color(var(--red) b(30%));
}

.red-900 {
  color: color(var(--red) b(40%));
}
