.listCircle > li {
  list-style-type: circle;
}

.listDecimal > li {
  list-style-type: decimal;
}

.listDisc > li {
  list-style-type: disc;
}

.listGreek > li {
  list-style-type: lower-greek;
}

.listLowerLatin > li {
  list-style-type: lower-latin;
}

.listLowerRoman > li {
  list-style-type: lower-roman;
}

.listNone > li {
  list-style-type: none;
}

.listSquare > li {
  list-style-type: square;
}

.listUpperLatin > li {
  list-style-type: upper-latin;
}

.listUpperRoman > li {
  list-style-type: upper-roman;
}

.listComma > * {
  display: inline-block;
}

.listComma > *:not(:last-child):after {
  content: ", ";
}

.listStep > li {
  counter-increment: step-counter;
}

.listStep > li::before {
  content: counter(step-counter);
  border-radius: 100px;
  width: var(--gap-9);
  height: var(--gap-9);
  margin-top: var(--gap-4);
  margin-bottom: var(--gap-4);
  text-align: center;
  display: inline-block;
  background-color: var(--list-step-bg-color);
  color: var(--list-step-color);
  line-height: 2;
  margin-left: calc(var(--gap-9) * -1);
  margin-right: var(--gap-6);
}

[class*='list'].isAligned {
  margin-left: var(--gap-6);
}

.listBreadcrumb {
  display: flex;
  font-size: 14px;
}

.listBreadcrumb > li {
  display: block;
  font-weight: var(--list-breadcrumb-weight);
  color: var(--state-disabled);
}

.listBreadcrumb > li:after {
  display: inline-block;
  content: var(--list-breadcrumb-seperator);
  padding: 0 var(--list-breadcrumb-gap);
  color: var(--state-disabled);
}

.listBreadcrumb > li:last-of-type {
  color: inherit;
}

.listBreadcrumb li:last-of-type:after {
  content: none;
}
