.list-circle > li {
  list-style-type: circle;
}

.list-decimal > li {
  list-style-type: decimal;
}

.list-decimal-leading-zero > li {
  list-style-type: decimal-leading-zero;
}

.list-disc > li {
  list-style-type: disc;
}

.list-greek > li {
  list-style-type: lower-greek;
}

.list-lower-latin > li {
  list-style-type: lower-latin;
}

.list-lower-roman > li {
  list-style-type: lower-roman;
}

.list-none > li {
  list-style-type: none;
}

.list-square > li {
  list-style-type: square;
}

.list-upper-latin > li {
  list-style-type: upper-latin;
}

.list-upper-roman > li {
  list-style-type: upper-roman;
}

.list-comma > * {
  display: inline-block;
}

.list-comma > *:not(:last-child):after {
  content: ", ";
}

.list-step > li {
  counter-increment: step-counter;
}

.list-step > li::before {
  content: counter(step-counter);
  border-radius: 100px;
  width: var(--space-3);
  height: var(--space-3);
  text-align: center;
  display: inline-block;
  background-color: var(--list-step-bg-color);
  color: var(--list-step-color);
  line-height: 2;
  margin-left: calc(var(--space-4) * -1);
  margin-right: var(--space-1);
}

.list-breadcrumb {
  display: flex;
  font-size: 14px;
}

.list-breadcrumb > li {
  display: block;
  font-weight: var(--list-breadcrumb-weight);
  color: var(--state-disabled);
}

.list-breadcrumb > li:after {
  display: inline-block;
  content: var(--list-breadcrumb-seperator);
  padding: 0 var(--list-breadcrumb-gap);
  color: var(--state-disabled);
}

.list-breadcrumb > li:last-of-type {
  color: inherit;
}

.list-breadcrumb li:last-of-type:after {
  content: none;
}

.list-dropdown {
  display: inline-block;
  background: var(--list-dropdown-bg-color);
  border-radius: var(--component-border-radius);
  border-color: var(--list-dropdown-border-color);
  border-width: var(--component-border-width);
  border-style: solid;
}

.list-dropdown > li a {
  display: block;
  padding: var(--gap-4) var(--gap-5);
  border-bottom-color: var(--list-dropdown-border-color);
  border-bottom-width: var(--component-border-width);
  border-bottom-style: solid;
}

.list-dropdown > li a:hover {
  text-decoration: none;
  background-image: linear-gradient(var(--darken), var(--darken));
}

.list-dropdown > li:last-of-type a {
  border-bottom: 0;
}
