.show, .showTablet {
  display: none;
}

@media screen and (--breakpoint-mobile) {
  .row,
  .cols {
    width: 100%;
  }

  .hide {
    display: none !important;
  }

  .show {
    display: block !important;
  }

  .col,
  [class*=' col'],
  [class^='col'] {
    flex: 0 1 100%;
    max-width: 100%;
  }

  [class*='Offset'],
  [class*='col'] {
    margin-left: auto;
  }

  .nav,
  .nav > .cols,
  .nav > .row {
    flex-direction: column;
  }

  .navCenter,
  .navLeft,
  .navRight {
    flex-wrap: wrap;
    justify-content: center;
  }

  .padReset {
    padding: 0 !important;
  }

  .marReset {
    margin: 0 !important;
  }

  .posSm {
    --media: var(--media-sm);
  }

  .posMd {
    --media: var(--media-md);
  }

  .posLg {
    --media: var(--media-lg);
  }

  .posXl {
    --media: var(--media-xl);
  }

  .hdgSm {
    --media-hdg: var(--media-sm);
  }

  .hdgMd {
    --media-hdg: var(--media-md);
  }

  .hdgLg {
    --media-hdg: var(--media-lg);
  }

  .hdgXl {
    --media-hdg: var(--media-xl);
  }
}

@media screen and (--breakpoint-tablet) {

  .hideTablet {
    display: none !important;
  }

  .showTablet {
    display: block !important;
  }

  .padTabletReset {
    padding: 0 !important;
  }

  .marTabletReset {
    margin: 0 !important;
  }

  .posTabletSm {
    --media: var(--media-sm);
  }

  .posTabletMd {
    --media: var(--media-md);
  }

  .posTabletLg {
    --media: var(--media-lg);
  }

  .posTabletXl {
    --media: var(--media-xl);
  }

  .hdgTabletSm {
    --media-h: var(--media-sm);
  }

  .hdgTabletMd {
    --media-h: var(--media-md);
  }

  .hdgTabletLg {
    --media-h: var(--media-lg);
  }

  .hdgTabletXl {
    --media-h: var(--media-xl);
  }
}

@custom-media --breakpoint-mobile (max-width: 48rem);
@custom-media --breakpoint-tablet (min-width: 48rem) and (max-width: 60rem);
