.show, .show-md {
  display: none;
}

@media screen and (--breakpoint-sm) {
  .container {
    width: 100%;
  }

  .hide {
    display: none !important;
  }

  .show {
    display: block !important;
  }

  .col,
  [class*=' col-'],
  [class^='col-'] {
    flex: 0 1 100%;
    max-width: 100%;
  }

  [class*=' offset-'],
  [class^='col-'] {
    margin-left: auto;
  }

  .nav,
  .nav > .container {
    flex-direction: column;
  }

  .nav-center,
  .nav-left,
  .nav-right {
    flex-wrap: wrap;
    justify-content: center;
  }

  .pad-reset {
    padding: 0 !important;
  }

  .mar-reset {
    margin: 0 !important;
  }

  .mar-sm {
    --media: var(--media-sm);
  }

  .mar-md {
    --media: var(--media-md);
  }

  .mar-lg {
    --media: var(--media-lg);
  }

  .mar-xl {
    --media: var(--media-xl);
  }

  .pad-sm {
    --media: var(--media-sm);
  }

  .pad-md {
    --media: var(--media-md);
  }

  .pad-lg {
    --media: var(--media-lg);
  }

  .pad-xl {
    --media: var(--media-xl);
  }

  .h-sm {
    --media-h: var(--media-sm);
  }

  .h-md {
    --media-h: var(--media-md);
  }

  .h-lg {
    --media-h: var(--media-lg);
  }

  .h-xl {
    --media-h: var(--media-xl);
  }
}

@media screen and (--breakpoint-md) {

  .hide-md {
    display: none !important;
  }

  .show-md {
    display: block !important;
  }

  .p-md-reset {
    padding: 0 !important;
  }

  .m-md-reset {
    margin: 0 !important;
  }

  .m-md-small {
    --media: 0.25;
  }

  .m-md-medium {
    --media: 0.5;
  }

  .m-md-large {
    --media: 0.75;
  }

  .p-md-small {
    --media: 0.25;
  }

  .p-md-medium {
    --media: 0.5;
  }

  .p-md-large {
    --media: 0.75;
  }
}

@custom-media --breakpoint-sm (max-width: 48rem);
@custom-media --breakpoint-md (min-width: 48rem) and (max-width: 60rem);
