.nav {
  display: flex;
  min-height: var(--nav-height);
  align-items: stretch;
  color: var(--nav-link-color);

  & .isCenter {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  & .isLeft {
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }

  & .isRight {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}

.nav img {
  max-height: var(--nav-height);
}

.nav a,
.nav .isBrand {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: var(--gap-5) var(--gap-6);
}

.nav .isActive:not(.button) {
  color: var(--nav-link-color);
}

.nav .isBrand {
  padding-top: 0;
  padding-bottom: 0;
}

.nav .isBrand img {
  padding-right: var(--gap-5);
}

.nav .button {
  margin: auto var(--gap-5);
}
