.nav {
  display: flex;
  min-height: var(--space-2);
  align-items: stretch;
}

.nav img {
  max-height: var(--space-2);
}

.nav-center,
.nav-left,
.nav-right {
  display: flex;
  flex: 1;
}

.nav-left {
  justify-content: flex-start;
}

.nav-right {
  justify-content: flex-end;
}

.nav-center {
  justify-content: center;
}

@media screen and (--breakpoint-sm) {
  .nav,
  .nav > .container {
    flex-direction: column;
  }

  .nav-center,
  .nav-left,
  .nav-right {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.nav a,
.nav .brand {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: var(--gap-5) var(--space-1);
  color: var(--link-color);
}

.nav .active:not(.button) {
  color: var(--state-primary);
}

.nav .brand {
  font-size: var(--space-1);
  padding-top: 0;
  padding-bottom: 0;
}

.nav .brand img {
  padding-right: var(--gap-5);
}

.nav .button {
  margin: auto var(--gap-5);
}

@custom-media --breakpoint-sm (max-width: 40rem);

@custom-media --breakpoint-md (max-width: 52rem);

@custom-media --breakpoint-lg (max-width: 64rem);
