.opac100 {
  opacity: 1;
}

.opac90 {
  opacity: .9;
}

.opac80 {
  opacity: .8;
}

.opac70 {
  opacity: .7;
}

.opac60 {
  opacity: .6;
}

.opac50 {
  opacity: .5;
}

.opac40 {
  opacity: .4;
}

.opac30 {
  opacity: .3;
}

.opac20 {
  opacity: .2;
}

.opac10 {
  opacity: .1;
}

.opac0 {
  opacity: 0;
}
