.mar-gap-1 {
  margin: var(--gap-1);
}

.mar-gap-2 {
  margin: var(--gap-2);
}

.mar-gap-3 {
  margin: var(--gap-3);
}

.mar-gap-4 {
  margin: var(--gap-4);
}

.mar-gap-5 {
  margin: var(--gap-5);
}

.mar-gap-t-1 {
  margin-top: var(--gap-1);
}

.mar-gap-t-2 {
  margin-top: var(--gap-2);
}

.mar-gap-t-3 {
  margin-top: var(--gap-3);
}

.mar-gap-t-4 {
  margin-top: var(--gap-4);
}

.mar-gap-t-5 {
  margin-top: var(--gap-5);
}

.mar-gap-l-1 {
  margin-left: var(--gap-1);
}

.mar-gap-l-2 {
  margin-left: var(--gap-2);
}

.mar-gap-l-3 {
  margin-left: var(--gap-3);
}

.mar-gap-l-4 {
  margin-left: var(--gap-4);
}

.mar-gap-l-5 {
  margin-left: var(--gap-5);
}

.mar-gap-b-1 {
  margin-bottom: var(--gap-5);
}

.mar-gap-b-2 {
  margin-bottom: var(--gap-5);
}

.mar-gap-b-3 {
  margin-bottom: var(--gap-5);
}

.mar-gap-b-4 {
  margin-bottom: var(--gap-5);
}

.mar-gap-b-5 {
  margin-bottom: var(--gap-5);
}

.mar-gap-r-1 {
  margin-right: var(--gap-5);
}

.mar-gap-r-2 {
  margin-right: var(--gap-5);
}

.mar-gap-r-3 {
  margin-right: var(--gap-5);
}

.mar-gap-r-4 {
  margin-right: var(--gap-5);
}

.mar-gap-r-5 {
  margin-right: var(--gap-5);
}

.mar-0 {
  margin: 0;
}

.mar-1 {
  margin: calc(var(--space-1) * var(--media));
}

.mar-2 {
  margin: calc(var(--space-2) * var(--media));
}

.mar-3 {
  margin: calc(var(--space-3) * var(--media));
}

.mar-4 {
  margin: calc(var(--space-4) * var(--media));
}

.mar-5 {
  margin: calc(var(--space-5) * var(--media));
}

.mar-6 {
  margin: calc(var(--space-6) * var(--media));
}

.mar-7 {
  margin: calc(var(--space-7) * var(--media));
}

.mar-8 {
  margin: calc(var(--space-8) * var(--media));
}

.mar-9 {
  margin: calc(var(--space-9) * var(--media));
}

.mar-t-0 {
  margin-top: 0;
}

.mar-t-1 {
  margin-top: calc(var(--space-1) * var(--media));
}

.mar-t-2 {
  margin-top: calc(var(--space-2) * var(--media));
}

.mar-t-3 {
  margin-top: calc(var(--space-3) * var(--media));
}

.mar-t-4 {
  margin-top: calc(var(--space-4) * var(--media));
}

.mar-t-5 {
  margin-top: calc(var(--space-5) * var(--media));
}

.mar-t-6 {
  margin-top: calc(var(--space-6) * var(--media));
}

.mar-t-7 {
  margin-top: calc(var(--space-7) * var(--media));
}

.mar-t-8 {
  margin-top: calc(var(--space-8) * var(--media));
}

.mar-t-9 {
  margin-top: calc(var(--space-9) * var(--media));
}

.mar-l-0 {
  margin-left: 0;
}

.mar-l-1 {
  margin-left: calc(var(--space-1) * var(--media));
}

.mar-l-2 {
  margin-left: calc(var(--space-2) * var(--media));
}

.mar-l-3 {
  margin-left: calc(var(--space-3) * var(--media));
}

.mar-l-4 {
  margin-left: calc(var(--space-4) * var(--media));
}

.mar-l-5 {
  margin-left: calc(var(--space-5) * var(--media));
}

.mar-l-6 {
  margin-left: calc(var(--space-6) * var(--media));
}

.mar-l-7 {
  margin-left: calc(var(--space-7) * var(--media));
}

.mar-l-8 {
  margin-left: calc(var(--space-8) * var(--media));
}

.mar-l-9 {
  margin-left: calc(var(--space-9) * var(--media));
}

.mar-b-0 {
  margin-bottom: 0;
}

.mar-b-1 {
  margin-bottom: calc(var(--space-1) * var(--media));
}

.mar-b-2 {
  margin-bottom: calc(var(--space-2) * var(--media));
}

.mar-b-3 {
  margin-bottom: calc(var(--space-3) * var(--media));
}

.mar-b-4 {
  margin-bottom: calc(var(--space-4) * var(--media));
}

.mar-b-5 {
  margin-bottom: calc(var(--space-5) * var(--media));
}

.mar-b-6 {
  margin-bottom: calc(var(--space-6) * var(--media));
}

.mar-b-7 {
  margin-bottom: calc(var(--space-7) * var(--media));
}

.mar-b-8 {
  margin-bottom: calc(var(--space-8) * var(--media));
}

.mar-b-9 {
  margin-bottom: calc(var(--space-9) * var(--media));
}

.mar-r-0 {
  margin-right: 0;
}

.mar-r-1 {
  margin-right: calc(var(--space-1) * var(--media));
}

.mar-r-2 {
  margin-right: calc(var(--space-2) * var(--media));
}

.mar-r-3 {
  margin-right: calc(var(--space-3) * var(--media));
}

.mar-r-4 {
  margin-right: calc(var(--space-4) * var(--media));
}

.mar-r-5 {
  margin-right: calc(var(--space-5) * var(--media));
}

.mar-r-6 {
  margin-right: calc(var(--space-6) * var(--media));
}

.mar-r-7 {
  margin-right: calc(var(--space-7) * var(--media));
}

.mar-r-8 {
  margin-right: calc(var(--space-8) * var(--media));
}

.mar-r-9 {
  margin-right: calc(var(--space-9) * var(--media));
}

.mar-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.mar-x-0 {
  margin-left: 0;
  margin-right: 0;
}

.mar-x-1 {
  margin-left: calc(var(--space-1) * var(--media));
  margin-right: calc(var(--space-1) * var(--media));
}

.mar-x-2 {
  margin-left: calc(var(--space-2) * var(--media));
  margin-right: calc(var(--space-2) * var(--media));
}

.mar-x-3 {
  margin-left: calc(var(--space-3) * var(--media));
  margin-right: calc(var(--space-3) * var(--media));
}

.mar-x-4 {
  margin-left: calc(var(--space-4) * var(--media));
  margin-right: calc(var(--space-4) * var(--media));
}

.mar-x-5 {
  margin-left: calc(var(--space-5) * var(--media));
  margin-right: calc(var(--space-5) * var(--media));
}

.mar-x-6 {
  margin-left: calc(var(--space-6) * var(--media));
  margin-right: calc(var(--space-6) * var(--media));
}

.mar-x-7 {
  margin-left: calc(var(--space-7) * var(--media));
  margin-right: calc(var(--space-7) * var(--media));
}

.mar-x-8 {
  margin-left: calc(var(--space-8) * var(--media));
  margin-right: calc(var(--space-8) * var(--media));
}

.mar-x-9 {
  margin-left: calc(var(--space-9) * var(--media));
  margin-right: calc(var(--space-9) * var(--media));
}

.mar-y-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.mar-y-1 {
  margin-bottom: calc(var(--space-1) * var(--media));
  margin-top: calc(var(--space-1) * var(--media));
}

.mar-y-2 {
  margin-bottom: calc(var(--space-2) * var(--media));
  margin-top: calc(var(--space-2) * var(--media));
}

.mar-y-3 {
  margin-bottom: calc(var(--space-3) * var(--media));
  margin-top: calc(var(--space-3) * var(--media));
}

.mar-y-4 {
  margin-bottom: calc(var(--space-4) * var(--media));
  margin-top: calc(var(--space-4) * var(--media));
}

.mar-y-5 {
  margin-bottom: calc(var(--space-5) * var(--media));
  margin-top: calc(var(--space-5) * var(--media));
}

.mar-y-6 {
  margin-bottom: calc(var(--space-6) * var(--media));
  margin-top: calc(var(--space-6) * var(--media));
}

.mar-y-7 {
  margin-bottom: calc(var(--space-7) * var(--media));
  margin-top: calc(var(--space-7) * var(--media));
}

.mar-y-8 {
  margin-bottom: calc(var(--space-8) * var(--media));
  margin-top: calc(var(--space-8) * var(--media));
}

.mar-y-9 {
  margin-bottom: calc(var(--space-9) * var(--media));
  margin-top: calc(var(--space-9) * var(--media));
}

.pad-gap-1 {
  padding: var(--gap-1);
}

.pad-gap-2 {
  padding: var(--gap-2);
}

.pad-gap-3 {
  padding: var(--gap-3);
}

.pad-gap-4 {
  padding: var(--gap-4);
}

.pad-gap-5 {
  padding: var(--gap-5);
}

.pad-gap-t-1 {
  padding-top: var(--gap-1);
}

.pad-gap-t-2 {
  padding-top: var(--gap-2);
}

.pad-gap-t-3 {
  padding-top: var(--gap-3);
}

.pad-gap-t-4 {
  padding-top: var(--gap-4);
}

.pad-gap-t-5 {
  padding-top: var(--gap-5);
}

.pad-gap-l-1 {
  padding-left: var(--gap-1);
}

.pad-gap-l-2 {
  padding-left: var(--gap-2);
}

.pad-gap-l-3 {
  padding-left: var(--gap-3);
}

.pad-gap-l-4 {
  padding-left: var(--gap-4);
}

.pad-gap-l-5 {
  padding-left: var(--gap-5);
}

.pad-gap-b-1 {
  padding-bottom: var(--gap-5);
}

.pad-gap-b-2 {
  padding-bottom: var(--gap-5);
}

.pad-gap-b-3 {
  padding-bottom: var(--gap-5);
}

.pad-gap-b-4 {
  padding-bottom: var(--gap-5);
}

.pad-gap-b-5 {
  padding-bottom: var(--gap-5);
}

.pad-gap-r-1 {
  padding-right: var(--gap-5);
}

.pad-gap-r-2 {
  padding-right: var(--gap-5);
}

.pad-gap-r-3 {
  padding-right: var(--gap-5);
}

.pad-gap-r-4 {
  padding-right: var(--gap-5);
}

.pad-gap-r-5 {
  padding-right: var(--gap-5);
}

.pad-0 {
  padding: 0;
}

.pad-1 {
  padding: calc(var(--space-1) * var(--media));
}

.pad-2 {
  padding: calc(var(--space-2) * var(--media));
}

.pad-3 {
  padding: calc(var(--space-3) * var(--media));
}

.pad-4 {
  padding: calc(var(--space-4) * var(--media));
}

.pad-5 {
  padding: calc(var(--space-5) * var(--media));
}

.pad-6 {
  padding: calc(var(--space-6) * var(--media));
}

.pad-7 {
  padding: calc(var(--space-7) * var(--media));
}

.pad-8 {
  padding: calc(var(--space-8) * var(--media));
}

.pad-9 {
  padding: calc(var(--space-9) * var(--media));
}

.pad-t-0 {
  padding-top: 0;
}

.pad-t-1 {
  padding-top: calc(var(--space-1) * var(--media));
}

.pad-t-2 {
  padding-top: calc(var(--space-2) * var(--media));
}

.pad-t-3 {
  padding-top: calc(var(--space-3) * var(--media));
}

.pad-t-4 {
  padding-top: calc(var(--space-4) * var(--media));
}

.pad-t-5 {
  padding-top: calc(var(--space-5) * var(--media));
}

.pad-t-6 {
  padding-top: calc(var(--space-6) * var(--media));
}

.pad-t-7 {
  padding-top: calc(var(--space-7) * var(--media));
}

.pad-t-8 {
  padding-top: calc(var(--space-8) * var(--media));
}

.pad-t-9 {
  padding-top: calc(var(--space-9) * var(--media));
}

.pad-l-0 {
  padding-left: 0;
}

.pad-l-1 {
  padding-left: calc(var(--space-1) * var(--media));
}

.pad-l-2 {
  padding-left: calc(var(--space-2) * var(--media));
}

.pad-l-3 {
  padding-left: calc(var(--space-3) * var(--media));
}

.pad-l-4 {
  padding-left: calc(var(--space-4) * var(--media));
}

.pad-l-5 {
  padding-left: calc(var(--space-5) * var(--media));
}

.pad-l-6 {
  padding-left: calc(var(--space-6) * var(--media));
}

.pad-l-7 {
  padding-left: calc(var(--space-7) * var(--media));
}

.pad-l-8 {
  padding-left: calc(var(--space-8) * var(--media));
}

.pad-l-9 {
  padding-left: calc(var(--space-9) * var(--media));
}

.pad-b-0 {
  padding-bottom: 0;
}

.pad-b-1 {
  padding-bottom: calc(var(--space-1) * var(--media));
}

.pad-b-2 {
  padding-bottom: calc(var(--space-2) * var(--media));
}

.pad-b-3 {
  padding-bottom: calc(var(--space-3) * var(--media));
}

.pad-b-4 {
  padding-bottom: calc(var(--space-4) * var(--media));
}

.pad-b-5 {
  padding-bottom: calc(var(--space-5) * var(--media));
}

.pad-b-6 {
  padding-bottom: calc(var(--space-6) * var(--media));
}

.pad-b-7 {
  padding-bottom: calc(var(--space-7) * var(--media));
}

.pad-b-8 {
  padding-bottom: calc(var(--space-8) * var(--media));
}

.pad-b-9 {
  padding-bottom: calc(var(--space-9) * var(--media));
}

.pad-r-0 {
  padding-right: 0;
}

.pad-r-1 {
  padding-right: calc(var(--space-1) * var(--media));
}

.pad-r-2 {
  padding-right: calc(var(--space-2) * var(--media));
}

.pad-r-3 {
  padding-right: calc(var(--space-3) * var(--media));
}

.pad-r-4 {
  padding-right: calc(var(--space-4) * var(--media));
}

.pad-r-5 {
  padding-right: calc(var(--space-5) * var(--media));
}

.pad-r-6 {
  padding-right: calc(var(--space-6) * var(--media));
}

.pad-r-7 {
  padding-right: calc(var(--space-7) * var(--media));
}

.pad-r-8 {
  padding-right: calc(var(--space-8) * var(--media));
}

.pad-r-9 {
  padding-right: calc(var(--space-9) * var(--media));
}

.pad-x-0 {
  padding-left: 0;
  padding-right: 0;
}

.pad-x-1 {
  padding-left: calc(var(--space-1) * var(--media));
  padding-right: calc(var(--space-1) * var(--media));
}

.pad-x-2 {
  padding-left: calc(var(--space-2) * var(--media));
  padding-right: calc(var(--space-2) * var(--media));
}

.pad-x-3 {
  padding-left: calc(var(--space-3) * var(--media));
  padding-right: calc(var(--space-3) * var(--media));
}

.pad-x-4 {
  padding-left: calc(var(--space-4) * var(--media));
  padding-right: calc(var(--space-4) * var(--media));
}

.pad-x-5 {
  padding-left: calc(var(--space-5) * var(--media));
  padding-right: calc(var(--space-5) * var(--media));
}

.pad-x-6 {
  padding-left: calc(var(--space-6) * var(--media));
  padding-right: calc(var(--space-6) * var(--media));
}

.pad-x-7 {
  padding-left: calc(var(--space-7) * var(--media));
  padding-right: calc(var(--space-7) * var(--media));
}

.pad-x-8 {
  padding-left: calc(var(--space-8) * var(--media));
  padding-right: calc(var(--space-8) * var(--media));
}

.pad-x-9 {
  padding-left: calc(var(--space-9) * var(--media));
  padding-right: calc(var(--space-9) * var(--media));
}

.pad-y-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.pad-y-1 {
  padding-bottom: calc(var(--space-1) * var(--media));
  padding-top: calc(var(--space-1) * var(--media));
}

.pad-y-2 {
  padding-bottom: calc(var(--space-2) * var(--media));
  padding-top: calc(var(--space-2) * var(--media));
}

.pad-y-3 {
  padding-bottom: calc(var(--space-3) * var(--media));
  padding-top: calc(var(--space-3) * var(--media));
}

.pad-y-4 {
  padding-bottom: calc(var(--space-4) * var(--media));
  padding-top: calc(var(--space-4) * var(--media));
}

.pad-y-5 {
  padding-bottom: calc(var(--space-5) * var(--media));
  padding-top: calc(var(--space-5) * var(--media));
}

.pad-y-6 {
  padding-bottom: calc(var(--space-6) * var(--media));
  padding-top: calc(var(--space-6) * var(--media));
}

.pad-y-7 {
  padding-bottom: calc(var(--space-7) * var(--media));
  padding-top: calc(var(--space-7) * var(--media));
}

.pad-y-8 {
  padding-bottom: calc(var(--space-8) * var(--media));
  padding-top: calc(var(--space-8) * var(--media));
}

.pad-y-9 {
  padding-bottom: calc(var(--space-9) * var(--media));
  padding-top: calc(var(--space-9) * var(--media));
}
