.marGap1 {
  margin: var(--gap-1);
}

.marGap2 {
  margin: var(--gap-2);
}

.marGap3 {
  margin: var(--gap-3);
}

.marGap4 {
  margin: var(--gap-4);
}

.marGap5 {
  margin: var(--gap-5);
}

.marGapT1 {
  margin-top: var(--gap-1);
}

.marGapT2 {
  margin-top: var(--gap-2);
}

.marGapT3 {
  margin-top: var(--gap-3);
}

.marGapT4 {
  margin-top: var(--gap-4);
}

.marGapT5 {
  margin-top: var(--gap-5);
}

.marGapL1 {
  margin-left: var(--gap-1);
}

.marGapL2 {
  margin-left: var(--gap-2);
}

.marGapL3 {
  margin-left: var(--gap-3);
}

.marGapL4 {
  margin-left: var(--gap-4);
}

.marGapL5 {
  margin-left: var(--gap-5);
}

.marGapB1 {
  margin-bottom: var(--gap-5);
}

.marGapB2 {
  margin-bottom: var(--gap-5);
}

.marGapB3 {
  margin-bottom: var(--gap-5);
}

.marGapB4 {
  margin-bottom: var(--gap-5);
}

.marGapB5 {
  margin-bottom: var(--gap-5);
}

.marGapR1 {
  margin-right: var(--gap-5);
}

.marGapR2 {
  margin-right: var(--gap-5);
}

.marGapR3 {
  margin-right: var(--gap-5);
}

.marGapR4 {
  margin-right: var(--gap-5);
}

.marGapR5 {
  margin-right: var(--gap-5);
}

.mar0 {
  margin: 0;
}

.mar1 {
  margin: calc(var(--space-1) * var(--media));
}

.mar2 {
  margin: calc(var(--space-2) * var(--media));
}

.mar3 {
  margin: calc(var(--space-3) * var(--media));
}

.mar4 {
  margin: calc(var(--space-4) * var(--media));
}

.mar5 {
  margin: calc(var(--space-5) * var(--media));
}

.mar6 {
  margin: calc(var(--space-6) * var(--media));
}

.mar7 {
  margin: calc(var(--space-7) * var(--media));
}

.mar8 {
  margin: calc(var(--space-8) * var(--media));
}

.mar9 {
  margin: calc(var(--space-9) * var(--media));
}

.marT0 {
  margin-top: 0;
}

.marT1 {
  margin-top: calc(var(--space-1) * var(--media));
}

.marT2 {
  margin-top: calc(var(--space-2) * var(--media));
}

.marT3 {
  margin-top: calc(var(--space-3) * var(--media));
}

.marT4 {
  margin-top: calc(var(--space-4) * var(--media));
}

.marT5 {
  margin-top: calc(var(--space-5) * var(--media));
}

.marT6 {
  margin-top: calc(var(--space-6) * var(--media));
}

.marT7 {
  margin-top: calc(var(--space-7) * var(--media));
}

.marT8 {
  margin-top: calc(var(--space-8) * var(--media));
}

.marT9 {
  margin-top: calc(var(--space-9) * var(--media));
}

.marL0 {
  margin-left: 0;
}

.marL1 {
  margin-left: calc(var(--space-1) * var(--media));
}

.marL2 {
  margin-left: calc(var(--space-2) * var(--media));
}

.marL3 {
  margin-left: calc(var(--space-3) * var(--media));
}

.marL4 {
  margin-left: calc(var(--space-4) * var(--media));
}

.marL5 {
  margin-left: calc(var(--space-5) * var(--media));
}

.marL6 {
  margin-left: calc(var(--space-6) * var(--media));
}

.marL7 {
  margin-left: calc(var(--space-7) * var(--media));
}

.marL8 {
  margin-left: calc(var(--space-8) * var(--media));
}

.marL9 {
  margin-left: calc(var(--space-9) * var(--media));
}

.marB0 {
  margin-bottom: 0;
}

.marB1 {
  margin-bottom: calc(var(--space-1) * var(--media));
}

.marB2 {
  margin-bottom: calc(var(--space-2) * var(--media));
}

.marB3 {
  margin-bottom: calc(var(--space-3) * var(--media));
}

.marB4 {
  margin-bottom: calc(var(--space-4) * var(--media));
}

.marB5 {
  margin-bottom: calc(var(--space-5) * var(--media));
}

.marB6 {
  margin-bottom: calc(var(--space-6) * var(--media));
}

.marB7 {
  margin-bottom: calc(var(--space-7) * var(--media));
}

.marB8 {
  margin-bottom: calc(var(--space-8) * var(--media));
}

.marB9 {
  margin-bottom: calc(var(--space-9) * var(--media));
}

.marR0 {
  margin-right: 0;
}

.marR1 {
  margin-right: calc(var(--space-1) * var(--media));
}

.marR2 {
  margin-right: calc(var(--space-2) * var(--media));
}

.marR3 {
  margin-right: calc(var(--space-3) * var(--media));
}

.marR4 {
  margin-right: calc(var(--space-4) * var(--media));
}

.marR5 {
  margin-right: calc(var(--space-5) * var(--media));
}

.marR6 {
  margin-right: calc(var(--space-6) * var(--media));
}

.marR7 {
  margin-right: calc(var(--space-7) * var(--media));
}

.marR8 {
  margin-right: calc(var(--space-8) * var(--media));
}

.marR9 {
  margin-right: calc(var(--space-9) * var(--media));
}

.marXauto {
  margin-left: auto;
  margin-right: auto;
}

.marX0 {
  margin-left: 0;
  margin-right: 0;
}

.marX1 {
  margin-left: calc(var(--space-1) * var(--media));
  margin-right: calc(var(--space-1) * var(--media));
}

.marX2 {
  margin-left: calc(var(--space-2) * var(--media));
  margin-right: calc(var(--space-2) * var(--media));
}

.marX3 {
  margin-left: calc(var(--space-3) * var(--media));
  margin-right: calc(var(--space-3) * var(--media));
}

.marX4 {
  margin-left: calc(var(--space-4) * var(--media));
  margin-right: calc(var(--space-4) * var(--media));
}

.marX5 {
  margin-left: calc(var(--space-5) * var(--media));
  margin-right: calc(var(--space-5) * var(--media));
}

.marX6 {
  margin-left: calc(var(--space-6) * var(--media));
  margin-right: calc(var(--space-6) * var(--media));
}

.marX7 {
  margin-left: calc(var(--space-7) * var(--media));
  margin-right: calc(var(--space-7) * var(--media));
}

.marX8 {
  margin-left: calc(var(--space-8) * var(--media));
  margin-right: calc(var(--space-8) * var(--media));
}

.marX9 {
  margin-left: calc(var(--space-9) * var(--media));
  margin-right: calc(var(--space-9) * var(--media));
}

.marY0 {
  margin-bottom: 0;
  margin-top: 0;
}

.marY1 {
  margin-bottom: calc(var(--space-1) * var(--media));
  margin-top: calc(var(--space-1) * var(--media));
}

.marY2 {
  margin-bottom: calc(var(--space-2) * var(--media));
  margin-top: calc(var(--space-2) * var(--media));
}

.marY3 {
  margin-bottom: calc(var(--space-3) * var(--media));
  margin-top: calc(var(--space-3) * var(--media));
}

.marY4 {
  margin-bottom: calc(var(--space-4) * var(--media));
  margin-top: calc(var(--space-4) * var(--media));
}

.marY5 {
  margin-bottom: calc(var(--space-5) * var(--media));
  margin-top: calc(var(--space-5) * var(--media));
}

.marY6 {
  margin-bottom: calc(var(--space-6) * var(--media));
  margin-top: calc(var(--space-6) * var(--media));
}

.marY7 {
  margin-bottom: calc(var(--space-7) * var(--media));
  margin-top: calc(var(--space-7) * var(--media));
}

.marY8 {
  margin-bottom: calc(var(--space-8) * var(--media));
  margin-top: calc(var(--space-8) * var(--media));
}

.marY9 {
  margin-bottom: calc(var(--space-9) * var(--media));
  margin-top: calc(var(--space-9) * var(--media));
}

.padGap1 {
  padding: var(--gap-1);
}

.padGap2 {
  padding: var(--gap-2);
}

.padGap3 {
  padding: var(--gap-3);
}

.padGap4 {
  padding: var(--gap-4);
}

.padGap5 {
  padding: var(--gap-5);
}

.padGapT1 {
  padding-top: var(--gap-1);
}

.padGapT2 {
  padding-top: var(--gap-2);
}

.padGapT3 {
  padding-top: var(--gap-3);
}

.padGapT4 {
  padding-top: var(--gap-4);
}

.padGapT5 {
  padding-top: var(--gap-5);
}

.padGapL1 {
  padding-left: var(--gap-1);
}

.padGapL2 {
  padding-left: var(--gap-2);
}

.padGapL3 {
  padding-left: var(--gap-3);
}

.padGapL4 {
  padding-left: var(--gap-4);
}

.padGapL5 {
  padding-left: var(--gap-5);
}

.padGapB1 {
  padding-bottom: var(--gap-5);
}

.padGapB2 {
  padding-bottom: var(--gap-5);
}

.padGapB3 {
  padding-bottom: var(--gap-5);
}

.padGapB4 {
  padding-bottom: var(--gap-5);
}

.padGapB5 {
  padding-bottom: var(--gap-5);
}

.padGapR1 {
  padding-right: var(--gap-5);
}

.padGapR2 {
  padding-right: var(--gap-5);
}

.padGapR3 {
  padding-right: var(--gap-5);
}

.padGapR4 {
  padding-right: var(--gap-5);
}

.padGapR5 {
  padding-right: var(--gap-5);
}

.pad0 {
  padding: 0;
}

.pad1 {
  padding: calc(var(--space-1) * var(--media));
}

.pad2 {
  padding: calc(var(--space-2) * var(--media));
}

.pad3 {
  padding: calc(var(--space-3) * var(--media));
}

.pad4 {
  padding: calc(var(--space-4) * var(--media));
}

.pad5 {
  padding: calc(var(--space-5) * var(--media));
}

.pad6 {
  padding: calc(var(--space-6) * var(--media));
}

.pad7 {
  padding: calc(var(--space-7) * var(--media));
}

.pad8 {
  padding: calc(var(--space-8) * var(--media));
}

.pad9 {
  padding: calc(var(--space-9) * var(--media));
}

.padT0 {
  padding-top: 0;
}

.padT1 {
  padding-top: calc(var(--space-1) * var(--media));
}

.padT2 {
  padding-top: calc(var(--space-2) * var(--media));
}

.padT3 {
  padding-top: calc(var(--space-3) * var(--media));
}

.padT4 {
  padding-top: calc(var(--space-4) * var(--media));
}

.padT5 {
  padding-top: calc(var(--space-5) * var(--media));
}

.padT6 {
  padding-top: calc(var(--space-6) * var(--media));
}

.padT7 {
  padding-top: calc(var(--space-7) * var(--media));
}

.padT8 {
  padding-top: calc(var(--space-8) * var(--media));
}

.padT9 {
  padding-top: calc(var(--space-9) * var(--media));
}

.padL0 {
  padding-left: 0;
}

.padL1 {
  padding-left: calc(var(--space-1) * var(--media));
}

.padL2 {
  padding-left: calc(var(--space-2) * var(--media));
}

.padL3 {
  padding-left: calc(var(--space-3) * var(--media));
}

.padL4 {
  padding-left: calc(var(--space-4) * var(--media));
}

.padL5 {
  padding-left: calc(var(--space-5) * var(--media));
}

.padL6 {
  padding-left: calc(var(--space-6) * var(--media));
}

.padL7 {
  padding-left: calc(var(--space-7) * var(--media));
}

.padL8 {
  padding-left: calc(var(--space-8) * var(--media));
}

.padL9 {
  padding-left: calc(var(--space-9) * var(--media));
}

.padB0 {
  padding-bottom: 0;
}

.padB1 {
  padding-bottom: calc(var(--space-1) * var(--media));
}

.padB2 {
  padding-bottom: calc(var(--space-2) * var(--media));
}

.padB3 {
  padding-bottom: calc(var(--space-3) * var(--media));
}

.padB4 {
  padding-bottom: calc(var(--space-4) * var(--media));
}

.padB5 {
  padding-bottom: calc(var(--space-5) * var(--media));
}

.padB6 {
  padding-bottom: calc(var(--space-6) * var(--media));
}

.padB7 {
  padding-bottom: calc(var(--space-7) * var(--media));
}

.padB8 {
  padding-bottom: calc(var(--space-8) * var(--media));
}

.padB9 {
  padding-bottom: calc(var(--space-9) * var(--media));
}

.padR0 {
  padding-right: 0;
}

.padR1 {
  padding-right: calc(var(--space-1) * var(--media));
}

.padR2 {
  padding-right: calc(var(--space-2) * var(--media));
}

.padR3 {
  padding-right: calc(var(--space-3) * var(--media));
}

.padR4 {
  padding-right: calc(var(--space-4) * var(--media));
}

.padR5 {
  padding-right: calc(var(--space-5) * var(--media));
}

.padR6 {
  padding-right: calc(var(--space-6) * var(--media));
}

.padR7 {
  padding-right: calc(var(--space-7) * var(--media));
}

.padR8 {
  padding-right: calc(var(--space-8) * var(--media));
}

.padR9 {
  padding-right: calc(var(--space-9) * var(--media));
}

.padX0 {
  padding-left: 0;
  padding-right: 0;
}

.padX1 {
  padding-left: calc(var(--space-1) * var(--media));
  padding-right: calc(var(--space-1) * var(--media));
}

.padX2 {
  padding-left: calc(var(--space-2) * var(--media));
  padding-right: calc(var(--space-2) * var(--media));
}

.padX3 {
  padding-left: calc(var(--space-3) * var(--media));
  padding-right: calc(var(--space-3) * var(--media));
}

.padX4 {
  padding-left: calc(var(--space-4) * var(--media));
  padding-right: calc(var(--space-4) * var(--media));
}

.padX5 {
  padding-left: calc(var(--space-5) * var(--media));
  padding-right: calc(var(--space-5) * var(--media));
}

.padX6 {
  padding-left: calc(var(--space-6) * var(--media));
  padding-right: calc(var(--space-6) * var(--media));
}

.padX7 {
  padding-left: calc(var(--space-7) * var(--media));
  padding-right: calc(var(--space-7) * var(--media));
}

.padX8 {
  padding-left: calc(var(--space-8) * var(--media));
  padding-right: calc(var(--space-8) * var(--media));
}

.padX9 {
  padding-left: calc(var(--space-9) * var(--media));
  padding-right: calc(var(--space-9) * var(--media));
}

.padY0 {
  padding-bottom: 0;
  padding-top: 0;
}

.padY1 {
  padding-bottom: calc(var(--space-1) * var(--media));
  padding-top: calc(var(--space-1) * var(--media));
}

.padY2 {
  padding-bottom: calc(var(--space-2) * var(--media));
  padding-top: calc(var(--space-2) * var(--media));
}

.padY3 {
  padding-bottom: calc(var(--space-3) * var(--media));
  padding-top: calc(var(--space-3) * var(--media));
}

.padY4 {
  padding-bottom: calc(var(--space-4) * var(--media));
  padding-top: calc(var(--space-4) * var(--media));
}

.padY5 {
  padding-bottom: calc(var(--space-5) * var(--media));
  padding-top: calc(var(--space-5) * var(--media));
}

.padY6 {
  padding-bottom: calc(var(--space-6) * var(--media));
  padding-top: calc(var(--space-6) * var(--media));
}

.padY7 {
  padding-bottom: calc(var(--space-7) * var(--media));
  padding-top: calc(var(--space-7) * var(--media));
}

.padY8 {
  padding-bottom: calc(var(--space-8) * var(--media));
  padding-top: calc(var(--space-8) * var(--media));
}

.padY9 {
  padding-bottom: calc(var(--space-9) * var(--media));
  padding-top: calc(var(--space-9) * var(--media));
}
