.shadow-0 {
  box-shadow: none;
}

.shadow-1 {
  box-shadow: 0 var(--gap-1) var(--gap-1) var(--component-shadow);
}

.shadow-2 {
  box-shadow: 0 var(--gap-2) var(--gap-2) var(--component-shadow);
}

.shadow-3 {
  box-shadow: 0 var(--gap-3) var(--gap-3) var(--component-shadow);
}

.shadow-4 {
  box-shadow: 0 var(--gap-4) var(--gap-4) var(--component-shadow);
}

.shadow-5 {
  box-shadow: 0 var(--gap-5) var(--gap-5) var(--component-shadow);
}

.gradient-darken {
  background-image: linear-gradient(transparent, var(--darken));
}

.gradient-darken-200 {
  background-image: linear-gradient(transparent, var(--darken-200));
}

.gradient-darken-400 {
  background-image: linear-gradient(transparent, var(--darken-400));
}

.gradient-darken-600 {
  background-image: linear-gradient(transparent, var(--darken-600));
}

.gradient-darken-800 {
  background-image: linear-gradient(transparent, var(--darken-800));
}

.gradient-lighten {
  background-image: linear-gradient(var(--lighten), transparent);
}

.gradient-lighten-200 {
  background-image: linear-gradient(var(--lighten-200), transparent);
}

.gradient-lighten-400 {
  background-image: linear-gradient(var(--lighten-400), transparent);
}

.gradient-lighten-600 {
  background-image: linear-gradient(var(--lighten-600), transparent);
}

.gradient-lighten-800 {
  background-image: linear-gradient(var(--lighten-800), transparent);
}
