.tab {
  display: flex;
  line-height: calc((var(--button-font-size) * var(--line-height)) - 2px);
}

.tab.isFull > a {
  flex: 1;
}

.tab.isSimple > :not(.isActive) {
  border-color: transparent;
}

.tab > a {
  padding: var(--tab-padding);
  flex: 0 1 auto;
  border-bottom: var(--tab-border) solid
    var(--tab-border-color, var(--state-disabled));
  text-align: center;
  text-decoration: none;
  color: var(--body-color);
}

.tab > a:hover {
  border-color: var(--tab-border-color, var(--state-primary));
}

.tab > a.isActive {
  border-color: var(--tab-border-color, var(--state-primary));
  color: var(--tab-color, var(--state-primary));
}
