.tabs {
  display: flex;
}

.tabs > a {
  padding: var(--gap-5) var(--space-1);
  flex: 0 1 auto;
  color: var(--body-color);
  border-bottom: var(--gap-2) solid var(--state-disabled);
  text-align: center;
}

.tabs > a.active,
.tabs > a:hover {
  opacity: 1;
  border-bottom: var(--gap-2) solid var(--state-dark);
  text-decoration: none;
}

.tabs > a.active {
  border-color: var(--state-primary);
}

.tab-full a { flex: 1; }
