.tab {
  display: flex;

  &.isFull > a {
    flex: 1;
  }

  &.isSimple > :not(.isActive) {
    border-color: transparent;
  }
}

.tab > a {
  padding: var(--gap-5) var(--space-1);
  flex: 0 1 auto;
  border-bottom: var(--gap-2) solid var(--state-disabled);
  text-align: center;
  text-decoration: none;
  color: var(--body-color);
}

.tab > a:hover {
  border-color: var(--state-dark);
}

.tab > a.isActive {
  border-color: var(--tab-border-color);
  color: var(--tab-border-color);
}
