[class*=' trans-t-'],
[class^='trans-t-'],
[class*=' trans-b-'],
[class^='trans-b-'],
[class*=' trans-l-'],
[class^='trans-l-'],
[class*=' trans-r-'],
[class^='trans-r-'] {
  transition: transform 0.2s ease-out;
}

.shiftT1:hover {
  transform: translateY(calc(var(--gap-1) * -1));
}

.shiftT2:hover {
  transform: translateY(calc(var(--gap-2) * -1));
}

.shiftT3:hover {
  transform: translateY(calc(var(--gap-3) * -1));
}

.shiftT4:hover {
  transform: translateY(calc(var(--gap-4) * -1));
}

.shiftT5:hover {
  transform: translateY(calc(var(--gap-5) * -1));
}

.shiftB1:hover {
  transform: translateY(var(--gap-1));
}

.shiftB2:hover {
  transform: translateY(var(--gap-2));
}

.shiftB3:hover {
  transform: translateY(var(--gap-3));
}

.shiftB4:hover {
  transform: translateY(var(--gap-4));
}

.shiftB5:hover {
  transform: translateY(var(--gap-5));
}

.shiftL1:hover {
  transform: translateX(calc(var(--gap-1) * -1));
}

.shiftL2:hover {
  transform: translateX(calc(var(--gap-2) * -1));
}

.shiftL3:hover {
  transform: translateX(calc(var(--gap-3) * -1));
}

.shiftL4:hover {
  transform: translateX(calc(var(--gap-4) * -1));
}

.shiftL5:hover {
  transform: translateX(calc(var(--gap-5) * -1));
}

.shiftR1:hover {
  transform: translateX(var(--gap-1));
}

.shiftR2:hover {
  transform: translateX(var(--gap-2));
}

.shiftR3:hover {
  transform: translateX(var(--gap-3));
}

.shiftR4:hover {
  transform: translateX(var(--gap-4));
}

.shiftR5:hover {
  transform: translateX(var(--gap-5));
}
