[class*=' trans-t-'],
[class^='trans-t-'],
[class*=' trans-b-'],
[class^='trans-b-'],
[class*=' trans-l-'],
[class^='trans-l-'],
[class*=' trans-r-'],
[class^='trans-r-'] {
  transition: transform 0.2s ease-out;
}

.trans-t-1:hover {
  transform: translateY(calc(var(--gap-1) * -1));
}

.trans-t-2:hover {
  transform: translateY(calc(var(--gap-2) * -1));
}

.trans-t-3:hover {
  transform: translateY(calc(var(--gap-3) * -1));
}

.trans-t-4:hover {
  transform: translateY(calc(var(--gap-4) * -1));
}

.trans-t-5:hover {
  transform: translateY(calc(var(--gap-5) * -1));
}

.trans-b-1:hover {
  transform: translateY(var(--gap-1));
}

.trans-b-2:hover {
  transform: translateY(var(--gap-2));
}

.trans-b-3:hover {
  transform: translateY(var(--gap-3));
}

.trans-b-4:hover {
  transform: translateY(var(--gap-4));
}

.trans-b-5:hover {
  transform: translateY(var(--gap-5));
}

.trans-l-1:hover {
  transform: translateX(calc(var(--gap-1) * -1));
}

.trans-l-2:hover {
  transform: translateX(calc(var(--gap-2) * -1));
}

.trans-l-3:hover {
  transform: translateX(calc(var(--gap-3) * -1));
}

.trans-l-4:hover {
  transform: translateX(calc(var(--gap-4) * -1));
}

.trans-l-5:hover {
  transform: translateX(calc(var(--gap-5) * -1));
}

.trans-r-1:hover {
  transform: translateX(var(--gap-1));
}

.trans-r-2:hover {
  transform: translateX(var(--gap-2));
}

.trans-r-3:hover {
  transform: translateX(var(--gap-3));
}

.trans-r-4:hover {
  transform: translateX(var(--gap-4));
}

.trans-r-5:hover {
  transform: translateX(var(--gap-5));
}
