:root {
	/* Tokens */
	--gap-0: 0rem;
	--gap-1: 0.0625rem; /* 1px */
	--gap-2: 0.125rem; /* 2px */
	--gap-3: 0.25rem; /* 4px */
	--gap-4: 0.5rem; /* 8px */
	--gap-5: 0.75rem; /* 12px */

	--space-0: 0rem;
	--space-1: 1rem; /* 16px */
	--space-2: 1.5rem; /* 24px */
	--space-3: 2rem; /* 32px */
	--space-4: 3rem; /* 48px */
	--space-5: 4rem; /* 64px */
	--space-6: 5rem; /* 80px */
	--space-7: 6rem; /* 96px */
	--space-8: 8rem; /* 128px */
	--space-9: 10rem; /* 160px */

	--white: white;
	--whitesmoke: whitesmoke;
	--lightgray: lightgray;
	--silver: silver;
	--darkgray: darkgray;
	--gray: gray;
	--black: black;

	--navy: #001f3f;
	--blue: #0074d9;
	--aqua: #7fdbff;
	--teal: #39cccc;
	--olive: #3d9970;
	--green: #2ecc40;
	--lime: #01ff70;
	--yellow: #ffdc00;
	--orange: #ff851b;
	--red: #ff4136;
	--maroon: #85144b;
	--fuchsia: #f012be;
	--purple: #b10dc9;

	--component-bg-color: var(--whitesmoke);
	--component-border-color: var(--silver);
	--component-border-radius: var(--gap-2);
	--component-border-width: var(--gap-1);
	--component-focus: 0 0 var(--gap-2) var(--gap-2) var(--lightgray);
	--component-padding-x: var(--gap-5);
	--component-padding-y: var(--gap-5);
	--component-speed: .1s;
	--component-font-size: var(--space-1);

	--state-primary: var(--blue);
	--state-secondary: var(--gray);
	--state-success: var(--green);
	--state-info: var(--teal);
	--state-warning: var(--orange);
	--state-danger: var(--red);
	--state-light: var(--white);
	--state-dark: var(--black);
	--state-disabled: var(--lightgray);

	--darken: rgba(0, 0, 0, 0.100);
	--darken-200: rgba(0, 0, 0, 0.200);
	--darken-400: rgba(0, 0, 0, 0.400);
	--darken-600: rgba(0, 0, 0, 0.600);
	--darken-800: rgba(0, 0, 0, 0.800);
	--lighten: rgba(255, 255, 255, 0.100);
	--lighten-200: rgba(255, 255, 255, 0.200);
	--lighten-400: rgba(255, 255, 255, 0.400);
	--lighten-600: rgba(255, 255, 255, 0.600);
	--lighten-800: rgba(255, 255, 255, 0.800);

	/* Alert */
	--alert-border-radius: var(--component-border-radius);
	--alert-padding-x: var(--component-padding-x);
	--alert-padding-y: var(--component-padding-y);

	--alert-bg-color: var(--state-primary);
	--alert-color: var(--state-primary);

	--alert-bg-color-secondary: var(--state-secondary);
	--alert-color-secondary: var(--state-secondary);

	--alert-bg-color-success: var(--state-success);
	--alert-color-success: var(--state-success);

	--alert-bg-color-info: var(--state-info);
	--alert-color-info: var(--state-info);

	--alert-bg-color-warning: var(--state-warning);
	--alert-color-warning: var(--state-warning);

	--alert-bg-color-danger: var(--state-danger);
	--alert-color-danger: var(--state-danger);

	/* Badge */
	--badge-font-size: var(--gap-5);
	--badge-border-radius: var(--space-1);
	--badge-focus: var(--component-focus);
	--badge-speed: var(--component-speed);

	--badge-color: var(--white);
	--badge-bg-color: var(--state-primary);

	/* Button */
	--button-font-size: var(--component-font-size);
	--button-font-family: inherit;
	--button-font-weight: inherit;
	--button-border-radius: var(--component-border-radius);
	--button-border-width: var(--component-border-width);
	--button-focus: var(--component-focus);
	--button-speed: var(--component-speed);

	--button-color: var(--white);
	--button-bg-color: var(--state-primary);

	/* Column */
	--container-width: 80rem;
	--column-gutter: var(--space-3);

	/* Form */
	--input-font-size: var(--component-font-size);
	--input-font-family: inherit;
	--input-font-weight: inherit;
	--input-color: var(--body-color);
	--input-border-color: var(--component-border-color);
	--input-border-width: var(--gap-1);
	--input-border-radius: var(--component-border-radius);
	--input-bg-color: var(--white);
	--input-readonly-bg-color: var(--component-bg-color);
	--input-focus-color: var(--state-primary);

	--input-addon-bg-color: var(--component-bg-color);
	--input-addon-color: var(--body-color-muted);

	--input-hint-color: var(--body-color-muted);
	--input-hint-font-size: var(--font-size-small);

	--input-icon-width: var(--space-2);
	--input-icon-offset: var(--gap-4);
	--input-icon-color: var(--state-secondary);

	--input-invalid-color: var(--state-danger);
	--input-invalid-border-color: var(--state-danger);
	--input-valid-color: var(--state-success);
	--input-valid-border-color: var(--state-success);

	--fieldset-border-color: var(--component-border-color);
	--fieldset-border-width: var(--component-border-width);
	--fieldset-border-radius: var(--component-border-radius);
	--fieldset-padding-x: var(--space-1);
	--fieldset-padding-y: var(--space-2);

	--label-color: inherit;

	/* Table */
	--table-bg-color: var(--white);
	--table-border-color: var(--component-border-color);
	--table-border-width: var(--component-border-width);
	--table-header-bg-color: transparent;
	--table-spacing-x: var(--gap-5);
	--table-spacing-y: var(--gap-4);
	--table-hover-color: var(--white);
	--table-hover-bg-color: var(--state-primary);
	--table-stripe-bg-color: var(--component-bg-color);

	/* Text */
	--font-sans-serif: sans-serif;
	--font-serif: serif;
	--font-system: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
	--font-monospace: Menlo, Consolas, "DejaVu Sans Mono", monospace;

	--body-bg-color: var(--white);
	--body-color: var(--black);
	--body-color-muted: var(--gray);

	--font-family: var(--font-system);
	--font-size: var(--space-1);
	--font-size-small: calc(var(--font-size) * .75);
	--font-weight-thin: 200;
	--font-weight: 300;
	--font-weight-medium: 400;
	--font-weight-bold: 600;
	--line-height: 1.5;

	--code-font-size: 90%;
	--code-color: var(--black);
	--code-border-radius: var(--component-border-radius);
	--code-bg-color: var(--component-bg-color);
	--code-padding-x: calc(var(--font-size) * .4);
	--code-padding-y: calc(var(--font-size) * .2);

	--headings-font-family: var(--font-system);
	--headings-font-weight: var(--font-weight);
	--headings-line-height: 1.5;
	--headings-margin-bottom: var(--gap-5);
	--headings-color: inherit;
	--headings-font-size-h1: var(--space-5);
	--headings-font-size-h2: var(--space-4);
	--headings-font-size-h3: var(--space-3);
	--headings-font-size-h4: var(--space-2);
	--headings-font-size-h5: var(--space-1);
	--headings-font-size-h6: var(--gap-5);

	--hr-border-width: var(--gap-1);
	--hr-border-color: var(--component-border-color);
	--hr-margin-x: 0;
	--hr-margin-y: var(--space-3);

	--kbd-font-size: 90%;
	--kbd-color: var(--white);
	--kbd-border-radius: var(--component-border-radius);
	--kbd-bg-color: var(--black);
	--kbd-padding-x: calc(var(--font-size) * .4);
	--kbd-padding-y: calc(var(--font-size) * .2);

	--link-color: var(--state-primary);
	--link-text-decoration: none;
	--link-color-hover: var(--link-color);
	--link-text-decoration-hover: underline;

	--mark-color: inherit;
	--mark-bg-color: var(--yellow);
	--mark-padding-x: var(--gap-5);
	--mark-padding-y: var(--gap-3);

	--placeholder-color: var(--body-color-muted);

	--pre-color: var(--code-color);
	--pre-border-radius: var(--component-border-radius);
	--pre-bg-color: var(--code-bg-color);
	--pre-max-height: none;

	--selection-color: var(--white);
	--selection-bg-color: var(--state-primary);
}
