:root {
  /* Tokens */
  --gap-0: 0rem;
  --gap-1: 0.0625rem; /* 1px */
  --gap-2: 0.125rem; /* 2px */
  --gap-3: 0.25rem; /* 4px */
  --gap-4: 0.5rem; /* 8px */
  --gap-5: 0.75rem; /* 12px */
  --gap-6: 1rem; /* 16px */
  --gap-7: 1.25rem; /* 20px */
  --gap-8: 1.5rem; /* 24px */
  --gap-9: 2rem; /* 32px */

  --hdg-1: initial;
  --hdg-2: initial;
  --hdg-3: initial;
  --hdg-4: initial;
  --hdg-5: initial;
  --hdg-6: initial;

  --media-hdg: initial; /* Set value in media.css */

  --columns-width: initial;
  --column-gutter: initial;
  --column-gap: initial;

  --border-width: initial;

  --component-bg-color: var(--smoke);
  --component-border-color: var(--silver);
  --component-border-radius: initial;
  --component-border-width: initial;
  --component-focus: 0 0 var(--gap-2) var(--gap-2) var(--light);
  --component-speed: .1s;
  --component-shadow: var(--shadow);
  --component-margin-bottom: var(--gap-8);

  --white: white;
  --smoke: #f1f3f5;
  --light: #dee2e6;
  --silver: #adb5bd;
  --dark: #495057;
  --gray: #212529;
  --black: black;
  --red: #f03e3e;
  --pink: #d6336c;
  --grape: #ae3ec9;
  --violet: #7048e8;
  --indigo: #4263eb;
  --blue: #1c7ed6;
  --cyan: #1098ad;
  --teal: #0ca678;
  --green: #37b24d;
  --lime: #74b816;
  --yellow: #f59f00;
  --orange: #f76707;
  --state-primary: var(--blue);
  --state-secondary: var(--gray);
  --state-success: var(--green);
  --state-info: var(--cyan);
  --state-warning: var(--orange);
  --state-danger: var(--red);
  --state-disabled: var(--silver);
  --darken: rgba(0, 0, 0, 0.100);
  --darken-200: rgba(0, 0, 0, 0.200);
  --darken-400: rgba(0, 0, 0, 0.400);
  --darken-600: rgba(0, 0, 0, 0.600);
  --darken-800: rgba(0, 0, 0, 0.800);
  --lighten: rgba(255, 255, 255, 0.100);
  --lighten-200: rgba(255, 255, 255, 0.200);
  --lighten-400: rgba(255, 255, 255, 0.400);
  --lighten-600: rgba(255, 255, 255, 0.600);
  --lighten-800: rgba(255, 255, 255, 0.800);
  --shadow: rgba(80, 80, 80, 0.100);
  --shadow-200: rgba(80, 80, 80, 0.200);
  --shadow-400: rgba(80, 80, 80, 0.400);
  --shadow-600: rgba(80, 80, 80, 0.600);
  --shadow-800: rgba(80, 80, 80, 0.800);

  /* Alert */
  --alert-border-radius: var(--component-border-radius, 0.125rem);
  --alert-padding: initial;
  --alert-bg-color: var(--state-primary);
  --alert-color: var(--gray);

  /* Animate */
  --animation-delay: initial;
  --animation-duration: initial;
  --animation-name: initial;
  --animation-translate: initial;

  /* Badge */
  --chip-font-size: var(--gap-5);
  --chip-border-radius: var(--gap-9);
  --chip-focus: var(--component-focus);
  --chip-speed: var(--component-speed);
  --chip-color: var(--gray);
  --chip-border-color: initial;
  --chip-bg-color: initial;
  --chip-padding: initial;
  --chip-color-active: var(--white);
  --chip-bg-color-active: var(--state-primary);
  --chip-weight: var(--font-weight-medium);

  /* Button */
  --button-font-size: var(--gap-6);
  --button-font-family: inherit;
  --button-font-weight: inherit;
  --button-border-radius: var(--component-border-radius, 0.125rem);
  --button-border-width: var(--component-border-width, 0.0625rem);
  --button-focus: var(--component-focus);
  --button-speed: var(--component-speed);
  --button-color: initial;
  --button-bg-color: initial;
  --button-padding: initial;

  /* Dropdown */
  --dropdown-bg-color: var(--component-bg-color);
  --dropdown-border-color: var(--component-border-color);
  --dropdown-border-radius: var(--component-border-radius, 0.125rem);
  --dropdown-border-width: var(--component-border-width, 0.0625rem);

  /* Form */
  --input-font-size: var(--component-font-size);
  --input-font-family: inherit;
  --input-font-weight: inherit;
  --input-color: var(--body-color);
  --input-border-color: var(--component-border-color);
  --input-border-width: var(--gap-1);
  --input-border-radius: var(--component-border-radius, 0.125rem);
  --input-bg-color: var(--white);
  --input-readonly-bg-color: var(--component-bg-color);
  --input-focus-color: var(--state-primary);
  --input-addon-bg-color: var(--component-bg-color);
  --input-addon-color: var(--body-color-muted);
  --input-hint-color: var(--body-color-muted);
  --input-hint-font-size: var(--font-size-small);
  --input-icon-width: var(--gap-8);
  --input-icon-offset: var(--gap-4);
  --input-icon-color: var(--state-secondary);
  --input-invalid-color: var(--state-danger);
  --input-invalid-border-color: var(--state-danger);
  --input-valid-color: var(--state-success);
  --input-valid-border-color: var(--state-success);
  --fieldset-border-color: var(--component-border-color);
  --fieldset-border-width: var(--component-border-width, 0.0625rem);
  --fieldset-border-radius: var(--component-border-radius, 0.125rem);
  --fieldset-padding-x: var(--gap-6);
  --fieldset-padding-y: var(--gap-8);
  --label-color: inherit;

  /* Grid */
  --grid-columns: repeat(auto, 1fr);
  --grid-rows: repeat(auto, 1fr);
  --grid-column: auto / span 1;
  --grid-row: auto / span 1;

  /* List */
  --list-breadcrumb-seperator: '/';
  --list-breadcrumb-gap: var(--gap-4);
  --list-breadcrumb-weight: var(--font-weight-medium);
  --list-step-color: var(--gray);
  --list-step-bg-color: var(--component-bg-color);

  /* Nav */
  --nav-height: initial;
  --nav-link-color: initial;

  /* Tab */
  --tab-color: initial;
  --tab-border-color: initial;

  /* Table */
  --table-bg-color: var(--white);
  --table-border-color: var(--component-border-color);
  --table-border-width: var(--component-border-width, 0.0625rem);
  --table-header-bg-color: transparent;
  --table-spacing-x: var(--gap-5);
  --table-spacing-y: var(--gap-4);
  --table-hover-color: var(--white);
  --table-hover-bg-color: var(--state-primary);
  --table-stripe-bg-color: var(--component-bg-color);

  /* Text */
  --font-sans-serif: sans-serif;
  --font-serif: serif;
  --font-system: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  --font-monospace: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  --body-bg-color: var(--white);
  --body-color: var(--gray);
  --body-color-muted: var(--gray);
  --font-family: var(--font-system);
  --font-size: var(--gap-6);
  --font-size-small: calc(var(--font-size) * .75);
  --font-weight-thin: 200;
  --font-weight: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 600;
  --line-height: 1.5;
  --code-font-size: var(--gap-5);
  --code-color: var(--gray);
  --code-border-radius: var(--component-border-radius, 0.125rem);
  --code-bg-color: var(--component-bg-color);
  --code-padding-x: var(--gap-4);
  --code-padding-y: var(--gap-2);
  --headings-font-family: var(--font-system);
  --headings-font-weight: var(--font-weight);
  --headings-line-height: 1.5;
  --headings-margin-bottom: var(--gap-5);
  --headings-color: inherit;
  --headings-font-size-h1: var(--hdg-1, 4rem);
  --headings-font-size-h2: var(--hdg-2, 3rem);
  --headings-font-size-h3: var(--hdg-3, 2rem);
  --headings-font-size-h4: var(--hdg-4, 1.5rem);
  --headings-font-size-h5: var(--hdg-5, 1rem);
  --headings-font-size-h6: var(--hdg-6, 0.75rem);
  --hr-border-width: var(--gap-1);
  --hr-border-color: var(--component-border-color);
  --hr-margin-x: 0;
  --hr-margin-y: var(--gap-9);
  --kbd-font-size: var(--gap-5);
  --kbd-color: var(--white);
  --kbd-border-radius: var(--component-border-radius, 0.125rem);
  --kbd-bg-color: var(--gray);
  --kbd-padding-x: calc(var(--font-size) * .4);
  --kbd-padding-y: calc(var(--font-size) * .2);
  --link-color: var(--state-primary);
  --link-text-decoration: none;
  --link-color-hover: var(--link-color);
  --link-text-decoration-hover: underline;
  --mark-color: inherit;
  --mark-bg-color: var(--yellow);
  --mark-padding-x: var(--gap-5);
  --mark-padding-y: var(--gap-3);
  --p-margin: var(--gap-8);
  --placeholder-color: var(--body-color-muted);
  --pre-color: var(--code-color);
  --pre-border-radius: var(--component-border-radius, 0.125rem);
  --pre-bg-color: var(--code-bg-color);
  --pre-max-height: none;
  --selection-color: var(--white);
  --selection-bg-color: var(--state-primary);

  /* Tooltip */
  --tooltip-color: var(--white);
  --tooltip-bg-color: var(--gray);
  --tooltip-border-radius: var(--component-border-radius, 0.125rem);
  --tooltip-min-width: var(--gap-9);
  --tooltip-padding: var(--gap-4);
}

.isNegSpace,
.isNegSpace .isNegSpace {
  --space-0: -0rem;
  --space-1: -1rem;
  --space-2: -2rem;
  --space-3: -3rem;
  --space-4: -4rem;
  --space-5: -5rem;
  --space-6: -6rem;
  --space-7: -8rem;
  --space-8: -12rem;
  --space-9: -16rem;
}

.isSpace,
.isSpace .isSpace {
  --space-0: 0rem;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-5: 5rem;
  --space-6: 6rem;
  --space-7: 8rem;
  --space-8: 12rem;
  --space-9: 16rem;
}

.isSpace *,
.isNegSpace * {
  --space-0: initial;
  --space-1: initial;
  --space-2: initial;
  --space-3: initial;
  --space-4: initial;
  --space-5: initial;
  --space-6: initial;
  --space-7: initial;
  --space-8: initial;
  --space-9: initial;
}
